.airgap--card {
  min-height: 110px;
}

.big {
  font-size: 2.5rem;
  //   margin-bottom: -12px;
  //   margin-right: 12px;
}

ion-card-title {
  font-size: 1.5rem;
  font-weight: 500;
}

ion-card {
  border-radius: 15px;
}
