<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="canGoBack">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{ 'secret-setup.heading' | translate }}</h1>

  <p class="ion-padding-bottom">{{ 'secret-setup.text' | translate }}</p>

  <ion-button color="primary" shape="round" class="ion-margin-top" (click)="goToGenerate()">
    <ion-icon slot="start" src="assets/icons/md-edit.svg"></ion-icon>
    {{ 'secret-setup.generate.label' | translate }}
  </ion-button>
  <p class="ion-padding-bottom">{{ 'secret-setup.generate.text' | translate }}</p>

  <ion-button color="tertiary" shape="round" (click)="goToImport()">
    <ion-icon slot="start" src="assets/icons/md-vertical_align_bottom.svg"></ion-icon>
    {{ 'secret-setup.import.label' | translate }}
  </ion-button>
  <p class="ion-padding-bottom">{{ 'secret-setup.import.text' | translate }}</p>

  <ion-button color="tertiary" shape="round" (click)="goToSocialRecoveryImport()">
    <ion-icon slot="start" src="assets/icons/md-people.svg"></ion-icon>
    {{ 'secret-setup.social-recovery.label' | translate }}
  </ion-button>
  <p class="ion-padding-bottom">{{ 'secret-setup.social-recovery.text' | translate }}</p>

  <ion-list lines="none" class="ion-padding-vertical ion-margin-bottom">
    <ion-item class="ion-padding-bottom">
      <ion-label class="font--weight__med">{{ 'wallet-select-coins.advanced_label' | translate }}</ion-label>
      <ion-toggle color="primary" slot="end" [(ngModel)]="isAdvancedMode"></ion-toggle>
    </ion-item>

    <ng-container *ngIf="isAdvancedMode">
      <ion-button color="tertiary" shape="round" (click)="goToDiceRollPage()">
        <ion-icon slot="start" name="dice-outline"></ion-icon>

        {{ 'secret-setup.dice-roll.label' | translate }}
      </ion-button>
      <p class="ion-padding-bottom">{{ 'secret-setup.dice-roll.text' | translate }}</p>

      <ion-button color="tertiary" shape="round" (click)="goToCoinFlipPage()">
        <ion-icon slot="start" name="ellipse-outline"></ion-icon>

        {{ 'secret-setup.coin-flip.label' | translate }}
      </ion-button>
      <p>{{ 'secret-setup.coin-flip.text' | translate }}</p>
    </ng-container>
  </ion-list>
</ion-content>
