<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToSecretsTab()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    @if (secret) {
      <ion-title>{{ 'tab-wallets.title' | translate }} {{ secret.label }}</ion-title>
    }

    @if (deleteView) {
      <ion-buttons slot="primary">
        <ion-button (click)="toggleDeleteView()">{{ 'tab-wallets.cancel_label' | translate }}</ion-button>
      </ion-buttons>
    } @else {
      <ion-buttons slot="primary">
        <ion-button (click)="presentEditPopover($event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    }

  </ion-toolbar>
</ion-header>

@if (wallets$) {
  <ion-content class="ion-padding-horizontal">
    @if (wallets$ && (wallets$ | async | walletFilter: { status: AirGapWalletStatus.ACTIVE } | async); as wallets) {
      <ion-list>
        @for (wallet of wallets; track wallet) {
          <ion-item-sliding>
            @if (deleteView) {
              <ion-item>
                <ion-checkbox slot="start" (ionChange)="onWalletSelected($event, wallet)"></ion-checkbox>
                <airgap-account-item [wallet]="wallet" (click)="goToReceiveAddress(wallet)"></airgap-account-item>
              </ion-item>
            }
            @if (!deleteView) {
              <airgap-account-item [wallet]="wallet" (click)="goToReceiveAddress(wallet)"></airgap-account-item>
            }
            <ion-item-options side="end">
              <ion-item-option (click)="delete(wallet)">
                <ion-item-option>
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-list>
      @if (wallets.length === 0) {
        <ion-row>
          <ion-col size="12" class="empty-list content--align__center-center">
            <img class="empty-img" src="./assets/img/no-wallet-added-onboarding.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <strong>{{ 'tab-wallets.empty-state_text' | translate }}</strong>
          </ion-col>
        </ion-row>
      }
    }
    @if (deleteView) {
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button color="secondary" shape="round" (click)="removeWallets(); $event.stopPropagation()">
          <ion-icon slot="start" name="trash"></ion-icon>
          {{ 'tab-wallets.delete-accounts_label' | translate }}
        </ion-button>
      </ion-fab>
    }
  </ion-content>
}
