<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToSecretsTab()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="secret">{{ 'tab-wallets.title' | translate }} {{ secret.label }}</ion-title>

    <ng-container *ngIf="deleteView; else threeDotMenu">
      <ion-buttons slot="primary">
        <ion-button (click)="toggleDeleteView()">{{ 'tab-wallets.cancel_label' | translate }}</ion-button>
      </ion-buttons>
    </ng-container>

    <ng-template #threeDotMenu>
      <ion-buttons slot="primary">
        <ion-button (click)="presentEditPopover($event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="wallets$" class="ion-padding-horizontal">
  <ng-container *ngIf="wallets$ && (wallets$ | async | walletFilter: { status: AirGapWalletStatus.ACTIVE } | async) as wallets">
    <ion-list>
      <ng-container *ngFor="let wallet of wallets">
        <ion-item-sliding>
          <ng-container *ngIf="deleteView">
            <ion-item>
              <ion-checkbox slot="start" (ionChange)="onWalletSelected($event, wallet)"></ion-checkbox>
              <airgap-account-item [wallet]="wallet" (click)="goToReceiveAddress(wallet)"></airgap-account-item>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="!deleteView">
            <airgap-account-item [wallet]="wallet" (click)="goToReceiveAddress(wallet)"></airgap-account-item>
          </ng-container>
          <ion-item-options side="end">
            <ion-item-option (click)="delete(wallet)">
              <ion-item-option>
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>
    </ion-list>

    <ng-container *ngIf="wallets.length === 0">
      <ion-row>
        <ion-col size="12" class="empty-list content--align__center-center">
          <img class="empty-img" src="./assets/img/no-wallet-added-onboarding.svg" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <strong>{{ 'tab-wallets.empty-state_text' | translate }}</strong>
        </ion-col>
      </ion-row>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="deleteView">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button color="secondary" shape="round" (click)="removeWallets(); $event.stopPropagation()">
        <ion-icon slot="start" name="trash"></ion-icon>
        {{ 'tab-wallets.delete-accounts_label' | translate }}
      </ion-button>
    </ion-fab>
  </ng-container>
</ion-content>
