<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToSecretsTab()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'tab-wallets.title' | translate }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="toggleDeleteView()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="wallets$" class="ion-padding-horizontal">
  <ion-item
    *ngIf="isAndroid && secret && !secret.hasRecoveryKey"
    lines="none"
    detail="true"
    class="ion-margin-vertical"
    color="warning"
    (click)="navigateToRecoverySettings()"
  >
    <ion-icon name="exit" slot="start" color="dark"></ion-icon>
    <ion-label color="dark" class="ion-text-wrap">
      <h3><strong>{{ 'tab-wallets.generate-recovery-key.title' | translate }}</strong></h3>
      <p>{{ 'tab-wallets.generate-recovery-key.description' | translate }}</p>
    </ion-label>
  </ion-item>

  <ion-list>
    <ng-container *ngFor="let wallet of wallets$ | async | walletFilter: { status: AirGapWalletStatus.ACTIVE }">
      <ion-item-sliding>
        <ng-container *ngIf="deleteView">
          <ion-item>
            <ion-checkbox slot="start" (click)="onWalletSelected(wallet)"></ion-checkbox>
            <airgap-account-item [wallet]="wallet" (click)="goToReceiveAddress(wallet)"></airgap-account-item>
          </ion-item>
        </ng-container>

        <ng-container *ngIf="!deleteView">
          <airgap-account-item [wallet]="wallet" (click)="goToReceiveAddress(wallet)"></airgap-account-item>
        </ng-container>
        <ion-item-options side="end">
          <ion-item-option (click)="delete(wallet)">
            <ion-item-option>
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
  <ion-row *ngIf="wallets$ && (wallets$ | async | walletFilter: { status: AirGapWalletStatus.ACTIVE }).length === 0">
    <div class="empty-list content--align__center-center">
      <img class="empty-img" src="./assets/img/no-wallet-added-onboarding.svg" />
    </div>
    <p>
      <strong>{{ 'tab-wallets.empty-state_text' | translate }}</strong>
    </p>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="deleteView">
      <ion-button color="secondary" shape="round" (click)="removeWallets(); $event.stopPropagation()">
        <ion-icon slot="start" name="trash"></ion-icon>
        {{ 'tab-wallets.delete-accounts_label' | translate }}
      </ion-button>
    </ng-container>

    <ng-container *ngIf="!deleteView">
      <ion-fab-button color="secondary">
        <ion-icon name="chevron-up-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="secondary" (click)="syncWallets()">
          <ion-icon name="sync-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary" (click)="addWallet()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ng-container>
  </ion-fab>
</ion-content>
