<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      SeedQR Template
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding colored-background">


<ion-card>

<ion-card-content>


<h2>
SeedQR Template
</h2>


<ion-item lines="none">

  <ion-label>
    Tipo
  </ion-label>

  <ion-note slot="end">
    {{ format === 'standard' ? 'Standard SeedQR' : 'Compact SeedQR' }}
  </ion-note>

</ion-item>



<ion-item lines="none">

  <ion-label>
    Template
  </ion-label>

  <ion-note slot="end">
    {{ selectedModules }}x{{ selectedModules }}
  </ion-note>

</ion-item>



<p class="ion-text-center ion-margin-top">
  {{ 'secret-seedqr-template.use-template' | translate }}
  {{ selectedModules }}x{{ selectedModules }}
  {{ 'secret-seedqr-template.to-fill-seedqr' | translate }}
</p>

<p class="ion-text-center ion-margin-top">
  {{ 'secret-seedqr-template.repository-info' | translate }}
</p>

<p class="ion-text-center">
  <code>docs/printable-templates/seedqr</code>
</p>

<ion-button
  expand="block"
  class="ion-margin-top"
  (click)="continueTemplate()"
  (keyup.enter)="continueTemplate()">

  {{ 'secret-show.next-step_label' | translate }}

</ion-button>



</ion-card-content>

</ion-card>


</ion-content>