<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-edit"></ion-back-button>
    </ion-buttons>

    <ion-title>SeedQR</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding colored-background">

<ion-card>

  <ion-card-content>

    <ion-item lines="none">
      <ion-label>{{ 'secret-seedqr.type' | translate }}</ion-label>
      <ion-note slot="end">
        {{ format === 'compact' ? 'Compact SeedQR' : 'Standard SeedQR' }}
      </ion-note>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Fingerprint</ion-label>
      <ion-note slot="end">
        {{ fingerprint }}
      </ion-note>
    </ion-item>

    <ion-item lines="none">
      <ion-label>{{ 'secret-seedqr.words' | translate }}</ion-label>
      <ion-note slot="end">
        {{ wordCount }}
      </ion-note>
    </ion-item>

  </ion-card-content>

</ion-card>

<ion-row class="ion-justify-content-center ion-padding-top">
  <qrcode
    *ngIf="format === 'standard'"
    [qrdata]="seedQrData"
    [errorCorrectionLevel]="'L'"
    [width]="300">
  </qrcode>

  <img
  *ngIf="format === 'compact'"
  [src]="qrImage"
  width="300"
  height="300"
  alt="Compact SeedQR code for secret recovery phrase">
</ion-row>

<ion-button
  expand="block"
  class="ion-margin-top"
  (click)="openTemplate()"
  (keydown.enter)="openTemplate()"
  (keyup.enter)="openTemplate()">

  {{ 'secret-seedqr.export-template' | translate }}

</ion-button>

<ion-item lines="none" class="ion-margin-top">

  <ion-label class="ion-text-wrap">
    <small>
      {{ 'secret-seedqr.warning' | translate }}
    </small>
  </ion-label>
</ion-item>

</ion-content>