current-secret {

  hexagon-icon {
    float: left;
    width: 32px;
    height: 32px;

    h3 {
      font-size: 12px;
    }
  }

  .centered {
    display: flex;
    justify-content: center;
  }

}
