<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>AirGap Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Explore the AirGap Shop</h1>
  <h6>Add an additional layer of security with solutions from the AirGap Shop and pay with Crypto</h6>

  <p>To visit, scan the QR-Code or go to the following website:</p>

  <ion-row class="ion-justify-content-center ion-padding-top ion-padding-bottom">
    <figure style="margin: auto; display: block">
      <img width="30%" src="./assets/img/shop.png" alt="QR-Code with link to https://shop.airgap.it/?ref=Link-Vault" />
      <figcaption><i>https://shop.airgap.it/?ref=Link-Vault</i></figcaption>
    </figure>
  </ion-row>

  <h3>AirGap Knox</h3>
  <p>
    With AirGap Knox, you can disable all sorts of connectivity on your smartphone at a system level and create an absolutely secure
    environment for the AirGap Vault
  </p>
  <h3>AirGap Recovery Plate</h3>
  <p>Engrave your seed phrase on stainless steel to protect it from fire or damage</p>
  <h6>
    Get 10% off your first purchase when using the promo code:
    <i>VaultUser23</i>
  </h6>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" (click)="open()" shape="round">Copy Link</ion-button>
  </ion-fab>
</ion-content>
