<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-setup"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-rules.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{ 'secret-rules.heading' | translate }}</h1>

  <p>{{ 'secret-rules.text' | translate }}</p>

  <p class="ion-padding-bottom">{{ 'secret-rules.description' | translate }}</p>

  <ion-list lines="none" class="ion-no-padding">
    <ion-item>
      <ion-label color="white" class="ion-text-wrap">{{ 'secret-rules.rules-list.item-1_text' | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="check.one" (click)="onCheckboxChanged()" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label color="white" class="ion-text-wrap">{{ 'secret-rules.rules-list.item-2_text' | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="check.two" (click)="onCheckboxChanged()" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label color="white" class="ion-text-wrap">{{ 'secret-rules.rules-list.item-3_text' | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="check.three" (click)="onCheckboxChanged()" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label color="white" class="ion-text-wrap">{{ 'secret-rules.rules-list.item-4_text' | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="check.four" (click)="onCheckboxChanged()" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label color="white" class="ion-text-wrap">{{ 'secret-rules.rules-list.item-5_text' | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="check.five" (click)="onCheckboxChanged()" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label color="white" class="ion-text-wrap">{{ 'secret-rules.rules-list.item-6_text' | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="check.six" (click)="onCheckboxChanged()" slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button [disabled]="!understood" color="primary" shape="round" (click)="goToShowSecret()">
      {{ 'secret-rules.understood_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
