<ion-header transparent no-border>
  <ion-toolbar transparent>
    <ion-title>
      <ion-text>
        <p color="white">{{ 'secret-rules.title' | translate }}</p>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="colored-background">
  <h1>{{ 'secret-rules.heading' | translate }}</h1>

  <p>{{ 'secret-rules.text' | translate }}</p>

  <p padding-bottom>{{ 'secret-rules.description' | translate }}</p>

  <ul no-padding>
    <li>{{ 'secret-rules.rules-list.item-1_text' | translate }}</li>
    <br />
    <li>{{ 'secret-rules.rules-list.item-2_text' | translate }}</li>
    <br />
    <li>{{ 'secret-rules.rules-list.item-3_text' | translate }}</li>
    <br />
    <li>{{ 'secret-rules.rules-list.item-4_text' | translate }}</li>
    <br />
    <li>{{ 'secret-rules.rules-list.item-5_text' | translate }}</li>
    <br />
    <li>{{ 'secret-rules.rules-list.item-6_text' | translate }}</li>
  </ul>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <ion-button default color="primary" (click)="goToShowSecret()" shape="round" item-right>
        {{ 'secret-rules.understood_label' | translate }}
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
