page-transaction-broadcast {
  ion-icon {
    color: white;
  }
  hexagon-icon {
    .hexagon--background {
      width: 32px;
      height: 32px;
    }
    h3 {
      font-size: 12px;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
