page-tab-secrets {
  hexagon-icon {
    height: 56px;
    width: 56px;
    float: left;
  }

  .secret--label {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-weight: 800;
  }
}

.add-secret_card {
  --background: #c1a8e3;
  border: 3px solid #af94de;
  color: whitesmoke;
  text-align: center;
  ion-icon {
    font-size: 40px;
    font-weight: 800;  
  }
}


