<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>{{ 'tab-secrets.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let secret of secrets | async">
      <airgap-secret-item [secret]="secret" (click)="goToEditSecret(secret)" class="ion-padding"></airgap-secret-item>
    </ng-container>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="secondary" shape="round" (click)="goToNewSecret()">
      <ion-icon slot="start" name="add"></ion-icon>
      {{ 'tab-secrets.add-secret_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
