page-tab-secrets {
  hexagon-icon {
    height: 56px;
    width: 56px;
    float: left;
  }

  .secret--label {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-weight: 800;
  }
}

.add-secret_card {
  --background: transparent;
  border: 3px dashed #af94de;
  color: #af94de;
  text-align: center;
  ion-icon {
    font-size: 40px;
    font-weight: bolder;
  }
}


