<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>{{ 'tab-secrets.title' | translate }}</ion-title>
    <ion-buttons slot="primary" (click)="presentPopover($event)">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-searchbar placeholder="{{ 'tab-secrets.search_placeholder' | translate }}" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="secretFilter; else unfiltered">
    <ng-container *ngFor="let secret of secrets | async | secretFilter: { label: secretFilter  }">
      <airgap-secret-item [secret]="secret"></airgap-secret-item>
    </ng-container>
  </ng-container>

  <ng-template #unfiltered>
    <ng-container *ngFor="let secret of secrets | async">
      <airgap-secret-item [secret]="secret"></airgap-secret-item>
    </ng-container>
  </ng-template>

  <ion-card class="add-secret_card" (click)="addSecret()">
    <ion-card-content>
      <ion-icon name="add-outline"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
