<ion-item lines="none" button="true" detail="false">
  <ion-label slot="start">{{ 'current-secret.label' | translate }}</ion-label>
  <p *ngIf="(secrets$ | async) && (secrets$ | async).length === 1" slot="end">
    {{ (currentSecret$ | async).label }}
  </p>
  <ion-select *ngIf="(secrets$ | async) && (secrets$ | async).length > 1" slot="end" [ngModel]="currentSecret$ | async" (ngModelChange)="onChange($event)" interface="popover">
    <ion-select-option *ngFor="let secret of secrets$ | async" [value]="secret">{{ secret.label }}</ion-select-option>
  </ion-select>
</ion-item>
