h3 {
  font-weight: 700;
}

.inlined {
  display: inline;
}

ion-list > ion-item > p {
  padding-left: 10px;
}

ion-list > ion-item:first-child {
  --border-width: 0.55px 0 0.55px 0
}

ion-list > ion-item {
  --min-height: 30px;
}