<ion-header class="ion-no-border" no-shadow>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'tab-scan.title' | translate }}</ion-title>
    @if (isMultiQr) {
      <ion-text slot="end">{{ percentageScanned | percent}}</ion-text>
    }
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false" [class.transparent]="hasCameraPermission | async">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-text color="secondary">
      <p class="ion-padding ion-no-margin">
        @if (!isMultiQr) {
          {{ 'tab-scan.text' | translate }}
        }
        @if (isMultiQr) {
          {{ 'tab-scan.multi-qr_text' | translate }}
        }
      </p>
    </ion-text>

    @if (isMultiQr) {
      <ion-progress-bar style="height: 8px" color="light" [value]="percentageScanned"></ion-progress-bar>
    }

    @if (hasCameraPermission | async) {
      <ion-row class="row--height__100 ion-justify-content-center ion-align-items-center">
        <ion-col class="guides--container content--align__center-center">
          <img class="guides--container__img" src="./assets/img/qr_code_guides.svg" />
        </ion-col>
        @if (isBrowser || isElectron) {
          <zxing-scanner
            #scanner
            [formats]="['QR_CODE']"
            [timeBetweenScans]="0"
            [delayBetweenScanSuccess]="0"
            (scanSuccess)="checkScan($event)"
          ></zxing-scanner>
        }
      </ion-row>
    }

    @if ((hasCameraPermission | async) === false) {
      <ion-row
        class="row--height__100 ion-justify-content-center ion-align-items-center"
        (click)="requestPermission()"
        >
        <ion-col class="ion-text-center">
          <img src="../assets/img/permission_onboarding_camera.svg" />
          <h3 class="ion-padding-horizontal" [innerHTML]="'tab-scan.empty-state_heading' | translate"></h3>
          <ion-button shape="round" color="primary">{{ 'tab-scan.grant-permission_label' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    }
  </ion-grid>
</ion-content>
