<ion-header no-border>
  <ion-navbar>
    <ion-title>
      {{ 'account-share.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-padding-bottom" [innerHTML]="'wallet-share.heading' | translate"></h3>

  <ion-row class="ion-justify-content-center ion-padding-bottom">
    <qr-clipboard *ngIf="interactionUrl" [qrdata]="interactionUrl" [level]="'L'" [size]="300"></qr-clipboard>
  </ion-row>

  <ion-row>
    <p [innerHTML]="'wallet-share.text' | translate"></p>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="done()">{{ 'wallet-share.done_label' | translate }}</ion-button>
  </ion-fab>
</ion-content>
