.rawdata--container {
  pre {
    background-color: var(--ion-color-grayLight);
    padding: 8px;
  }
}

.float-right {
  float: right;
}

.rawdata--container.ios {
  margin-bottom: 48px;
}

.rawdata--container.md {
  margin-bottom: var(--margin-bottom);
}

.heading--text {
  font-size: 32px;
}

ion-content {
  --padding-bottom: var(--ion-padding, 64px);
}
