<ion-header transparent no-border>
  <ion-toolbar transparent>
    <ion-title>
      <ion-text>
        <p color="white">{{ 'wallet-share.title' | translate }}</p>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="colored-background">
  <h3 padding-bottom [innerHTML]="'wallet-share.heading' | translate"></h3>

  <ion-row justify-content-center padding-bottom>
    <qr-clipboard *ngIf="interactionUrl" [qrdata]="interactionUrl" [level]="'L'" [size]="300"></qr-clipboard>
  </ion-row>

  <ion-row><p [innerHTML]="'wallet-share.text' | translate"></p></ion-row>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <ion-button default color="primary" (click)="done()" shape="round" item-right>{{ 'wallet-share.done_label' | translate }}</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
