<ion-header transparent no-border>
  <ion-toolbar *ngIf="isRoot()" transparent>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="colored-background">
  <h1>{{ 'secret-create.heading' | translate }}</h1>

  <p padding-bottom>{{ 'secret-create.text' | translate }}</p>

  <ion-button id="btn-generate-secret" color="primary" (click)="goToGenerate()" shape="round" margin-top>
    <ion-icon md-name="edit" slot="start"></ion-icon>
    {{ 'secret-create.generate.label' | translate }}
  </ion-button>

  <p padding-bottom>{{ 'secret-create.generate.text' | translate }}</p>

  <ion-button id="btn-import-secret" color="secondary" (click)="goToImport()" shape="round">
    <ion-icon slot="start" md-name="file_download"></ion-icon>
    {{ 'secret-create.import.label' | translate }}
  </ion-button>

  <p padding-bottom>{{ 'secret-create.import.text' | translate }}</p>

  <ion-button id="btn-recover-secret" color="secondary" (click)="goToSocialRecoveryImport()" shape="round">
    <ion-icon slot="start" md-name="people"></ion-icon>
    {{ 'secret-create.social-recovery.label' | translate }}
  </ion-button>

  <p>{{ 'secret-create.social-recovery.text' | translate }}</p>
</ion-content>
