<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="canGoBack">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{ 'secret-create.heading' | translate }}</h1>

  <p class="ion-padding-bottom">{{ 'secret-create.text' | translate }}</p>

  <ion-button color="primary" shape="round" class="ion-margin-top" (click)="goToGenerate()">
    <ion-icon slot="start" src="assets/icons/md-edit.svg"></ion-icon>
    {{ 'secret-create.generate.label' | translate }}
  </ion-button>

  <p class="ion-padding-bottom">{{ 'secret-create.generate.text' | translate }}</p>

  <ion-button color="tertiary" shape="round" (click)="goToImport()">
    <ion-icon slot="start" src="assets/icons/md-vertical_align_bottom.svg"></ion-icon>
    {{ 'secret-create.import.label' | translate }}
  </ion-button>

  <p class="ion-padding-bottom">{{ 'secret-create.import.text' | translate }}</p>

  <ion-button color="tertiary" shape="round" (click)="goToSocialRecoveryImport()">
    <ion-icon slot="start" src="assets/icons/md-people.svg"></ion-icon>
    {{ 'secret-create.social-recovery.label' | translate }}
  </ion-button>

  <p>{{ 'secret-create.social-recovery.text' | translate }}</p>
</ion-content>
