@if (warnings && warnings.length > 0) {
  <ion-row class="ion-align-items-center ion-padding-top">
    @for (warning of warnings; track warning) {
      <ion-col size="12">
        <ion-item lines="none" [detail]="false" class="ion-margin-vertical" [color]="warning.color">
          @if (warning.icon) {
            <ion-icon [name]="warning.icon" slot="start" color="dark"></ion-icon>
          }
          <ion-label color="dark" class="ion-text-wrap">
            <h3>
              <strong>{{ warning.title | translate }}</strong>
            </h3>
            <p>{{ warning.description | translate }}</p>
            <!-- <div *ngIf="warning.actions">
            <ion-button color="light" *ngFor="let action of warning.actions" (click)="doAction(action)">
              {{ action.text | translate }}
            </ion-button>
          </div> -->
        </ion-label>
      </ion-item>
    </ion-col>
  }
</ion-row>
}
