<ion-toolbar color="primary" no-padding>
  <ion-row>
    <ion-col col-3 no-padding>
      <button [disabled]="!leftEnabled" ion-button icon-left clear color="white" (click)="leftAction()">
        <ion-icon name="ios-arrow-back"></ion-icon>
        {{ leftLabel }}
      </button>
    </ion-col>
    <ion-col col-6 no-padding>
      <ion-row justify-content-center align-items-center class="full--height">
        <ion-icon
          *ngFor="let n of progressArray"
          name="ios-radio-button-on"
          [color]="progress === n ? 'secondary-light' : 'white'"
        ></ion-icon>
      </ion-row>
    </ion-col>
    <ion-col col-3 no-padding>
      <button [disabled]="!rightEnabled" ion-button icon-right clear color="white" (click)="rightAction()">
        {{ rightLabel }}
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>
