<ion-header transparent no-border>
  <ion-toolbar transparent>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal" [innerHtml]="description"></ion-row>

  <ion-row class="ion-justify-content-center" *ngIf="imageUrl"><img class="warning-img" [src]="imageUrl" /></ion-row>

  <ion-fab *ngIf="buttonText" vertical="bottom" horizontal="end" slot="fixed">
    <ion-button default (click)="handler()" color="primary" shape="round" item-right>{{ buttonText }}</ion-button>
  </ion-fab>
</ion-content>
