<ion-header transparent class="ion-no-border">
  <ion-toolbar transparent>
    <ion-title #warningTitle data-modal-focus tabindex="-1">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-horizontal">
    <p>{{ description }}</p>
  </div>

  <ion-row class="ion-justify-content-center" *ngIf="imageUrl">
    <img class="warning-img" [src]="imageUrl" alt="" aria-hidden="true" />
  </ion-row>
</ion-content>

<ion-footer *ngIf="buttonText" class="ion-no-border">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-button expand="block" (click)="handler()" color="primary" shape="round">{{ buttonText }}</ion-button>
  </ion-toolbar>
</ion-footer>
