<ion-row class="rawdata--container ion-padding-bottom" *ngIf="messages[0]">
  <ion-col class="ion-no-padding">
    <p>{{ 'message-signing-request.payload_label' | translate }}</p>
    <pre class="ion-no-margin">{{ messages[0].data | json }}</pre>
  </ion-col>
</ion-row>
<ion-row class="rawdata--container" *ngIf="messages[0].blake2bHash">
  <ion-col class="ion-no-padding">
    <p>{{ 'message-signing-request.blake2b_hash' | translate }}</p>
    <pre class="ion-no-margin">{{ messages[0].blake2bHash }}</pre>
  </ion-col>
</ion-row>
