<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'introduction.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img [src]="installationType === 'OFFLINE' ? 'assets/img/companion-apps.svg' : 'assets/img/app-switching.svg'" />
  <ion-item style="margin-top: 10%;" lines="none">
    <ion-header>
      <h1>
        <strong>
          <strong [innerHTML]="'introduction.header' | translate: { installationType: installationType}"></strong>
        </strong>
      </h1>
    </ion-header>
    <ion-icon
      [name]="installationType === 'OFFLINE' ? 'cloud-offline-outline': 'wifi-outline'"
      slot="end"
      color="white"
      size="large"
    ></ion-icon>
  </ion-item>

  <ion-item lines="none">
    @if (installationType === installationTypes.ONLINE) {
      <p>
        {{ 'introduction.online-desc' | translate }}
      </p>
    } @else {
      <p>
        {{ 'introduction.offline-desc' | translate }}
      </p>
    }
  </ion-item>

  @if (installationType === installationTypes.OFFLINE) {
    <ion-item style="margin-top: 1px;" lines="none">
      <p>
        {{ 'introduction.offline-companion_text' | translate }}
      </p>
    </ion-item>
  }

  @if (installationType === installationTypes.ONLINE) {
    <ion-button expand="block" shape="round" color="tertiary" (click)="downloadApp()">
      {{ 'introduction.wallet_install_label' | translate }}
    </ion-button>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="primary" (click)="accept()">{{ 'introduction.skip_label' | translate }}</ion-button>
  </ion-fab>
</ion-content>
