<ion-header no-border class="colored-background">
  <ion-toolbar color="secondary">
    <ion-title>{{ 'tab-wallets.title' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <div padding-horizontal>
      <current-secret [chosenSecret]="activeSecret" (secretChanged)="onSecretChanged($event)"></current-secret>
    </div>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-searchbar
      class="colored-background"
      placeholder="{{ 'tab-wallets.search_placeholder' | translate }}"
      (ionInput)="filterItems($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="wallets" padding>
  <ion-list *ngFor="let wallet of wallets | async | walletFilter: { symbol: symbolFilter }">
    <wallet-item [wallet]="wallet" (click)="goToReceiveAddress(wallet)"></wallet-item>
  </ion-list>

  <div class="empty-list" *ngIf="wallets && (wallets | async | walletFilter: { symbol: symbolFilter }).length === 0">
    <img src="./assets/img/no-wallet-added-onboarding.svg" />
    <p>
      <strong>{{ 'tab-wallets.empty-state_text' | translate }}</strong>
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button id="btn-add-wallet" color="secondary" (click)="addWallet()" shape="round">
      <ion-icon slot="start" name="add"></ion-icon>
      {{ 'tab-wallets.add-wallet_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
