<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-title>{{ 'tab-wallets.title' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <airgap-current-secret></airgap-current-secret>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-searchbar placeholder="{{ 'tab-wallets.search_placeholder' | translate }}" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="wallets$" class="ion-padding-horizontal">
  <!--TODO: route to Setting preferably with the dialog already shown-->
  <ion-item *ngIf="isAndroid && activeSecret && !activeSecret.hasRecoveryKey" detail="true" class="ion-margin-vertical" color="warning">
    <ion-icon name="exit" slot="start" color="dark"></ion-icon>
    <ion-label color="dark" class="ion-text-wrap">
      <h3><strong>{{ 'tab-wallets.generate-recovery-key.title' | translate }}</strong></h3>
      <p>{{ 'tab-wallets.generate-recovery-key.description' | translate }}</p>
    </ion-label>
  </ion-item>

  <ion-row>
    <ion-list>
      <ng-container *ngFor="let wallet of wallets$ | async | walletFilter: { symbol: symbolFilter }">
        <airgap-account-item [wallet]="wallet" (click)="goToReceiveAddress(wallet)"></airgap-account-item>
      </ng-container>
    </ion-list>

    <div class="empty-list" *ngIf="wallets$ && (wallets$ | async | walletFilter: { symbol: symbolFilter }).length === 0">
      <img src="./assets/img/no-wallet-added-onboarding.svg" />
      <p>
        <strong>{{ 'tab-wallets.empty-state_text' | translate }}</strong>
      </p>
    </div>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="secondary" shape="round" (click)="addWallet()">
      <ion-icon slot="start" name="add"></ion-icon>
      {{ 'tab-wallets.add-wallet_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
