page-wallet-address {
  ion-avatar {
    width: 64px;
    height: 64px;
    img {
      width: 64px;
      height: 64px;
    }
  }
  .symbol--icon {
    position: absolute;
    height: 32px;
    width: 32px;
    left: 40px;
    top: 40px;
  }
}

.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
