<ion-list lines="none" class="ion-no-padding ion-no-margin">
  <ion-list-header>
    <ion-label>{{ 'accounts-list-edit-popover.title' | translate }}</ion-label>
  </ion-list-header>
  <ion-item button detail="false" (click)="addWalletHandler()">
    <ion-icon slot="start" name="add"></ion-icon>
    {{ 'accounts-list-edit-popover.add-account_label' | translate }}
  </ion-item>
  <ion-item button detail="false" (click)="editSecretHandler()">
    <ion-icon slot="start" name="settings-outline"></ion-icon>
    {{ 'accounts-list-edit-popover.secret-management_label' | translate }}
  </ion-item>
  <ion-item button detail="false" (click)="syncWalletsHandler()">
    <ion-icon slot="start" name="sync-outline"></ion-icon>
    {{ 'accounts-list-edit-popover.sync-all_label' | translate }}
  </ion-item>
  <ion-item button detail="false" (click)="deleteViewHandler()">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    {{ 'accounts-list-edit-popover.delete_label' | translate }}
  </ion-item>
</ion-list>
