<ion-header transparent no-border>
  <ion-navbar transparent>
    <ion-title>
      <p ion-text color="white">{{ 'interaction-selection-settings.title' | translate }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="colored-background" padding>
  <h3
    *ngIf="selectedSetting === interactionSetting.SAME_DEVICE"
    [innerHTML]="'interaction-selection-settings.same-device_heading' | translate"
  ></h3>
  <h3
    *ngIf="selectedSetting === interactionSetting.OFFLINE_DEVICE"
    [innerHTML]="'interaction-selection-settings.offline-device_heading' | translate"
  ></h3>

  <p>{{ 'interaction-selection-settings.text' | translate }}</p>

  <ion-list radio-group [ngModel]="interactionSetting" (ngModelChange)="onSelectedSettingChange($event)" no-lines padding-vertical>
    <ion-item no-padding>
      <ion-label color="white">{{ 'interaction-selection-settings.selector.always' | translate }}</ion-label>
      <ion-radio
        [checked]="selectedSetting === interactionSetting.ALWAYS_ASK"
        [value]="interactionSetting.ALWAYS_ASK"
        no-margin
        item-right
      ></ion-radio>
    </ion-item>
    <ion-item no-padding>
      <ion-label color="white">{{ 'interaction-selection-settings.selector.same-device' | translate }}</ion-label>
      <ion-radio
        [checked]="selectedSetting === interactionSetting.SAME_DEVICE"
        [value]="interactionSetting.SAME_DEVICE"
        no-margin
        item-right
      ></ion-radio>
    </ion-item>
    <ion-item no-padding>
      <ion-label color="white">{{ 'interaction-selection-settings.selector.offline-device' | translate }}</ion-label>
      <ion-radio
        [checked]="selectedSetting === interactionSetting.OFFLINE_DEVICE"
        [value]="interactionSetting.OFFLINE_DEVICE"
        no-margin
        item-right
      ></ion-radio>
    </ion-item>
  </ion-list>

  <p *ngIf="!isEdit">{{ 'interaction-selection-settings.description' | translate }}</p>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button default ion-button id="btn-save-secret" color="primary" round (click)="goToNextPage()" item-right *ngIf="!isEdit">
        {{ 'interaction-selection-settings.continue_label' | translate }}
      </button>
    </ion-row>
    <ion-row justify-content-end>
      <button default ion-button id="-save-secret" color="primary" round (click)="popToRoot()" item-right *ngIf="isEdit">
        {{ 'interaction-selection-settings.continue_label' | translate }}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
