<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 [innerHTML]="heading"></h3>

  <ion-row class="ion-justify-content-center ion-padding-top">
    @if (interactionUrl && qrType === 0) {
      <airgap-iac-qr
        [level]="'L'"
        [messageDefinitionObjects]="interactionUrl"
        [size]="300"
      ></airgap-iac-qr>
    }
    @if (signedTxs && qrType === 1) {
      <airgap-qr [level]="'L'" [qrdata]="signedTxs" [size]="300"></airgap-qr>
    }
  </ion-row>

  @if (messageSignResponse) {
    <airgap-message-sign-response [messageSignResponse]="messageSignResponse"></airgap-message-sign-response>
  }

  @if (signedTxs) {
    <airgap-signed-transaction [signedTxs]="interactionUrl"></airgap-signed-transaction>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="done()">{{ 'transaction-signed.done_label' | translate }}</ion-button>
  </ion-fab>
</ion-content>
