<ion-header no-border class="colored-background">
  <ion-navbar color="secondary">
    <ion-title>{{ 'tab-wallets.title' | translate }}</ion-title>
  </ion-navbar>

  <div padding-horizontal><current-secret [chosenSecret]="activeSecret" (secretChanged)="onSecretChanged($event)"></current-secret></div>

  <ion-searchbar
    class="colored-background"
    placeholder="{{ 'tab-wallets.search_placeholder' | translate }}"
    (ionInput)="filterItems($event)"
  ></ion-searchbar>
</ion-header>

<ion-content *ngIf="wallets" padding>
  <ion-list *ngFor="let wallet of (wallets | async | filterWallets: { symbol: symbolFilter })">
    <wallet-item [wallet]="wallet" (click)="goToReceiveAddress(wallet)"></wallet-item>
  </ion-list>

  <div class="empty-list" *ngIf="wallets && (wallets | async | filterWallets: { symbol: symbolFilter }).length === 0">
    <img src="./assets/img/no-wallet-added-onboarding.svg" />
    <p>
      <strong>{{ 'tab-wallets.empty-state_text' | translate }}</strong>
    </p>
  </div>

  <ion-fab bottom right>
    <button id="btn-add-wallet" default ion-button color="secondary" (click)="addWallet()" round icon-left>
      <ion-icon name="add"></ion-icon>
      {{ 'tab-wallets.add-wallet_label' | translate }}
    </button>
    <button default ion-button color="secondary" (click)="test()" round icon-left>
      <ion-icon name="add"></ion-icon>
      test
    </button>
  </ion-fab>
</ion-content>
