<ng-container *ngIf="airGapTxs && airGapTxs.length > 1">
  <dl class="transaction-summary ion-padding-bottom">
    <dt>Amount</dt>
    <dd>
      {{
        aggregatedInfo.totalAmount.toFixed()
          | amountConverter : { protocol: airGapTxs[0].protocolIdentifier, maxDigits: undefined }
          | async
      }}
    </dd>
    <dt>Operations</dt>
    <dd>{{ aggregatedInfo.numberOfTxs }}</dd>
    <dt>Fee</dt>
    <dd>{{ aggregatedInfo.totalFees.toFixed() | feeConverter : { protocol: airGapTxs[0].protocolIdentifier } | async }}</dd>
  </dl>
</ng-container>

<ng-container *ngFor="let airGapTx of airGapTxs">
  <airgap-transaction-warning [transaction]="airGapTx"></airgap-transaction-warning>
  <airgap-transaction-details
    class="ion-padding-horizontal"
    [transaction]="airGapTx"
    [interactionData]="interactionData"
    [hideNetwork]="true"
  ></airgap-transaction-details>
</ng-container>

<ng-container *ngIf="fallbackActivated">
  <ion-row>
    <ion-col size="2" class="ion-margin-top">
      <ion-icon color="white" src="assets/icons/md-warning.svg" class="warning-icon"></ion-icon>
    </ion-col>
    <ion-col size="10">{{ 'signed-transaction.transaction-unreadable' | translate }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-text>
      <p class="text--selectable typography--mono word-break__all">{{ rawTxData }}</p>
    </ion-text>
  </ion-row>
</ng-container>
