<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'module-preview.title' | translate: { name: moduleName } }}</ion-title>
  </ion-toolbar>
</ion-header>

<ng-container class="ion-padding" *ngIf="(moduleMetadata$ | async) as metadata">
  <ion-content *ngIf="metadata.status === UIResourceStatus.SUCCESS">
    <ion-row class="ion-align-items-center ion-padding-top ion-padding-bottom">
      <airgap-titled-text
        [title]="'module-preview.manifest.name.label' | translate"
        [text]="metadata.value.manifest.name"
      ></airgap-titled-text>
    </ion-row>

    <ion-row class="ion-align-items-center ion-padding-top ion-padding-bottom">
      <airgap-titled-text
        [title]="'module-preview.manifest.version.label' | translate"
        [text]="metadata.value.manifest.version"
      ></airgap-titled-text>
    </ion-row>

    <ion-row class="ion-align-items-center ion-padding-top ion-padding-bottom">
      <airgap-titled-text
        [title]="'module-preview.manifest.author.label' | translate"
        [text]="metadata.value.manifest.author"
      ></airgap-titled-text>
    </ion-row>

    <ion-row class="ion-align-items-center ion-padding-top ion-padding-bottom">
      <airgap-titled-text
        [title]="'module-preview.manifest.signature.label' | translate"
        [text]="metadata.value.manifest.signature"
      ></airgap-titled-text>
    </ion-row>

    <ion-row class="ion-align-items-center ion-padding-top ion-padding-bottom">
      <ion-label class="ion-text-uppercase">{{ 'module-preview.manifest.include.description' | translate }}</ion-label>
      <ion-list lines="none" class="ion-padding-bottom">
        <ion-item detail="false" class="ion-no-padding" *ngFor="let file of metadata.value.manifest.include">
          <span class="typography--mono">
            {{ file }}
          </span>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button color="primary" shape="round" (click)="install(metadata.value)">
        <ion-icon slot="start" src="assets/icons/md-check.svg"></ion-icon>
        {{ 'module-preview.install-button_label' | translate }}
      </ion-button>
    </ion-fab>
  </ion-content>
</ng-container>
