<ion-card class="no-padding background--color__gradient" (click)="goToAccountsList()">
  <ion-card-header>
    <ion-row *ngIf="isAdvancedMode$ | async">
      <ion-col size="3">
        <img *ngIf="lifehashData" class="lifehash" [src]="lifehashData" />
      </ion-col>
      <ion-col>
        <ion-card-title class="secret--label">
          {{ secret.label }}
        </ion-card-title>
      </ion-col>
    </ion-row>
    <ion-card-title *ngIf="!(isAdvancedMode$ | async)" class="secret--label">
      {{ secret.label }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row [class]="secret.isParanoia || secret.hasSocialRecovery ? 'ion-padding-start_activated' : ''">
      <span class="airgap-currency-symbol-secret mtzero" *ngFor="let wallet of activeWallets">
        <airgap-currency-symbol [symbol]="wallet.symbol" [protocolIdentifier]="wallet.protocolIdentifier"></airgap-currency-symbol>
      </span>
      <ion-button *ngIf="hasMoreWallets > 0" [color]="'tertiary'" shape="round" class="mtzero">+{{ hasMoreWallets }}</ion-button>
    </ion-row>

    <ion-fab *ngIf="secret.isParanoia || secret.hasSocialRecovery" vertical="bottom" horizontal="" slot="fixed">
      <ion-icon *ngIf="secret.isParanoia" class="ion-icon_activated" name="shield"></ion-icon>
      <ion-icon *ngIf="secret.hasSocialRecovery" class="ion-icon_activated" name="extension-puzzle"></ion-icon>
    </ion-fab>
  </ion-card-content>
</ion-card>
