ion-icon {
  font-size: 16px;
}
.secret--label {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 800;
  font-size: 16px;
}
ion-button {
  width: 32px;
  height: 32px;
  --padding-end: 0;
  --padding-start: 0;
}
