ion-icon {
  font-size: 16px !important;
}
.secret--label {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 800;
  font-size: 16px !important;
}
