ion-icon {
  font-size: 16px;
}
.secret--label {
  // font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 500;
  font-size: 28px;
  color: white;
}

.mtzero {
  margin-top: 0;
}

ion-button {
  width: 45px;
  height: 45px;
  text-align: center;
  --padding-end: 0;
  --padding-start: 0;
}

.airgap-currency-symbol-secret {
  margin-left: -10px;
}

.background--color__gradient {
  // 50239f
  // 6f53a1
  background: var(--ion-color-secondary); // TODO: Variables
}

.ion-icon_activated {
  font-size: 20px;
  color: var(--ion-color-primary-tint);
  margin-right: 7px;
  // border: 1px solid;
  // border-color: var(--ion-color-medium);
  border-radius: 4px;
  padding: 2px;
  background-color: var(--ion-color-tertiary);
}

.ion-padding-start_activated {
  margin-bottom: 12%
}

