<ion-card class="no-padding background--color__gradient" (click)="goToAccountsList()">
  <ion-card-header>
    <!-- <ion-card-subtitle class="secret--label">Mnemonic</ion-card-subtitle> -->
    <ion-row *ngIf="isAdvancedMode$ | async">
      <ion-col size="3">
        <img *ngIf="lifehashData" class="lifehash" [src]="lifehashData" />
      </ion-col>
      <ion-col>
        <ion-card-subtitle class="secret--label">{{ secret.fingerprint }}</ion-card-subtitle>

        <ion-card-title class="secret--label">
          {{ secret.label }}
        </ion-card-title>
      </ion-col>
    </ion-row>
    <ion-card-title *ngIf="!(isAdvancedMode$ | async)" class="secret--label">
      {{ secret.label }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row class="ion-padding-start" style="margin-bottom: 12%;">
      <span class="airgap-currency-symbol-secret mtzero" *ngFor="let symbol of activeWallets">
        <airgap-currency-symbol [symbol]="symbol"></airgap-currency-symbol>
      </span>
      <ion-button *ngIf="hasMoreWallets > 0" [color]="'tertiary'" shape="round" class="mtzero">+{{ hasMoreWallets }}</ion-button>
    </ion-row>

    <ion-fab vertical="bottom" horizontal="" slot="fixed">
      <ion-icon color="tertiary" name="shield-checkmark"></ion-icon>
      <ion-icon color="tertiary" name="extension-puzzle"></ion-icon>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button shape="round" [color]="'primary'" (click)="goToEditSecret($event)">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-fab>
  </ion-card-content>
</ion-card>
