ion-icon {
  font-size: 16px;
}
.secret--label {
  // font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 500;
  // font-size: 16px;
  color: white;
}

.mtzero {
  margin-top: 0;
}

ion-button {
  width: 45px;
  height: 45px;
  text-align: center;
  --padding-end: 0;
  --padding-start: 0;
}

.airgap-currency-symbol-secret {
  margin-left: -10px;
}

.background--color__gradient {
  // 50239f
  // 6f53a1
  background: linear-gradient(#311b58, #311b58); // TODO: Variables
}
ion-fab {
  ion-icon{
    font-size: 20px;
    margin-right: 7px
  }
  ion-button {
    ion-icon {
        font-size: 30px;
        margin-right: 0px;
    }
  }
}
