<ion-item lines="none" detail="true">
  <div slot="start">
    <ion-label>
      <h2 class="secret--label">{{ secret.label }}</h2>
    </ion-label>
    <ion-button [color]="secret.isParanoia ? 'primary' : 'tertiary'" shape="round">
      <ion-icon slot="icon-only" src="assets/icons/md-fiber_pin.svg"></ion-icon>
    </ion-button>

    <ion-button
      [color]="secret.interactionSetting !== interactionSetting.UNDETERMINED ? 'primary' : 'tertiary'"
      shape="round"
      margin-horizontal
    >
      <ion-icon slot="icon-only" src="assets/icons/md-swap_horiz.svg"></ion-icon>
    </ion-button>

    <ion-button [color]="secret.hasSocialRecovery ? 'primary' : 'tertiary'" shape="round">
      <ion-icon slot="icon-only" src="assets/icons/md-group_work.svg"></ion-icon>
    </ion-button>
  </div>
</ion-item>
