<ion-header transparent no-border>
  <ion-navbar transparent>
    <ion-title>
      <p ion-text color="white">{{ 'secret-show.title' | translate }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="colored-background">
  <p padding-bottom>{{ 'secret-show.text' | translate }}</p>

  <h3 class="secret--typography">{{ secret.recoverMnemonicFromHex(secret.secretHex) }}</h3>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button *ngIf="!isRecover" default ion-button color="primary" (click)="goToValidateSecret()" round item-right>
        {{ 'secret-show.next-step_label' | translate }}
      </button>
      <button *ngIf="isRecover" default ion-button color="primary" (click)="done()" round item-right>
        {{ 'secret-show.done_label' | translate }}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
