<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-generate-coin-flip.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <p class="ion-padding-bottom">
    {{ 'secret-generate-coin-flip.description' | translate }}
  </p>

  <airgap-grid-input
    #inputgrid
    [minLength]="minLength"
    [maxLength]="maxLength"
    [gridWidth]="8"
    [defaultHeight]="32"
    (rowAddedEvent)="scrollToBottom()"
    (entropyChanged)="updateEntropy($event)"
  ></airgap-grid-input>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <p>{{error}}</p>
      </ion-col>

      <ion-col size="12">
        {{ 'secret-generate-coin-flip.status' | translate: { inputLength: inputgrid.entropy.length } }}
      </ion-col>

      <ion-col size="12">
        <ion-row class="button--rounded ion-justify-content-between">
          <div>
            <ion-button shape="round" [disabled]="inputgrid.entropy.length >= this.maxLength" (click)="inputgrid.add('0')">
              {{ 'secret-generate-coin-flip.head' | translate }}
            </ion-button>
            <ion-button shape="round" [disabled]="inputgrid.entropy.length >= this.maxLength" (click)="inputgrid.add('1')">
              {{ 'secret-generate-coin-flip.tail' | translate }}
            </ion-button>
          </div>

          <div>
            <ion-button color="tertiary" [disabled]="inputgrid.entropy.length === 0" (click)="inputgrid.remove()">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button color="tertiary" [disabled]="!this.isValid" (click)="next()">
              <ion-icon name="chevron-forward-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-row>
        <ion-row></ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
