<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-generate-coin-flip' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Generating entropy with coin flips is an advanced feature. It allows you to provide your own entropy and generate a verifiable recovery
    phrase. Only use this feature if you know how to use it!
  </p>

  <airgap-grid-input
    #inputgrid
    [minLength]="minLength"
    [maxLength]="maxLength"
    [gridWidth]="8"
    [defaultHeight]="32"
    (rowAddedEvent)="scrollToBottom()"
    (entropyChanged)="updateEntropy($event)"
  ></airgap-grid-input>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{error}}</p>
    <br />
    <p>{{ inputgrid.entropy.length }} of 256 coin flips (256 bits of entropy)</p>
    <br />
    <ion-button [disabled]="inputgrid.entropy.length >= this.maxLength" (click)="inputgrid.add('0')">0 (HEADS)</ion-button>
    <ion-button [disabled]="inputgrid.entropy.length >= this.maxLength" (click)="inputgrid.add('1')">1 (TAILS)</ion-button>
    <ion-button [disabled]="inputgrid.entropy.length === 0" (click)="inputgrid.remove()">Remove</ion-button>
    <ion-button [disabled]="!this.isValid" (click)="next()">Next</ion-button>
  </ion-toolbar>
</ion-footer>
