<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-generate-coin-flip.label' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    {{ 'secret-generate-coin-flip.description' | translate }}
  </p>

  <airgap-grid-input
    #inputgrid
    [minLength]="minLength"
    [maxLength]="maxLength"
    [gridWidth]="8"
    [defaultHeight]="32"
    (rowAddedEvent)="scrollToBottom()"
    (entropyChanged)="updateEntropy($event)"
  ></airgap-grid-input>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{error}}</p>
    <br />
    <p>
      {{ 'secret-generate-coin-flip.status' | translate: { inputLength: inputgrid.entropy.length } }}
    </p>
    <br />
    <ion-button [disabled]="inputgrid.entropy.length >= this.maxLength" (click)="inputgrid.add('0')">
      0 ({{ 'secret-generate-coin-flip.head' | translate }})
    </ion-button>
    <ion-button [disabled]="inputgrid.entropy.length >= this.maxLength" (click)="inputgrid.add('1')">
      1 ({{ 'secret-generate-coin-flip.tail' | translate }})
    </ion-button>
    <ion-button [disabled]="inputgrid.entropy.length === 0" (click)="inputgrid.remove()">
      {{ 'secret-generate-coin-flip.remove_label' | translate }}
    </ion-button>
    <ion-button [disabled]="!this.isValid" (click)="next()">{{ 'secret-generate-coin-flip.next_label' | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>
