<ion-header transparent no-border>
  <ion-navbar transparent>
    <ion-title>
      <p ion-text color="white">{{ 'secret-import.title' | translate }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="colored-background">
  <p>{{ 'secret-import.text' | translate }}</p>
  <ion-item no-padding padding-bottom [formGroup]="secretImportForm">
    <ion-textarea
      formControlName="mnemonic"
      id="secret-import"
      color="white"
      placeholder="{{ 'secret-import.placeholder' | translate }}"
      [(ngModel)]="mnemonic"
    ></ion-textarea>
  </ion-item>

  <div style="text-align:center">
    <div class="keyboardContainer">
      <div *ngIf="false" class="suggestionsBar">
        <ul *ngIf="suggestions.length > 0">
          <li *ngFor="let suggestion of suggestions" (click)="applySuggestion(suggestion)">{{ suggestion }}</li>
        </ul>
      </div>
      <div class="simple-keyboard"></div>
    </div>
  </div>
  <p *ngIf="secretImportForm.touched && !secretImportForm.valid" color="primary" margin-top text-wrap>
    {{ 'secret-import.warning' | translate }}
  </p>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button
        id="btn-import"
        default
        ion-button
        color="primary"
        (click)="goToSecretCreatePage()"
        round
        item-right
        [disabled]="!secretImportForm.valid"
      >
        {{ 'secret-import.import_label' | translate }}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
