page-secret-import {
  ion-icon {
    color: white;
  }
  ion-textarea {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-weight: 600;
    text-transform: lowercase;
  }
  textarea {
    height: 24vh;
  }
}
