<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-secrets"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'wallet-address.title' | translate }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="presentEditPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="wallet" class="ion-padding">
  <ion-row class="ion-padding">
    <ion-col>
      <ion-avatar>
        <airgap-identicon [address]="wallet.receivingPublicAddress"></airgap-identicon>
      </ion-avatar>
      <airgap-currency-symbol [symbol]="wallet.protocol.symbol" [protocolIdentifier]="wallet.protocol.identifier"></airgap-currency-symbol>
    </ion-col>
    <ion-col>
      <h2 class="ion-no-margin">{{ wallet.protocol.name }} {{ wallet.protocol.symbol }}</h2>
      <p>
        {{ 'wallet-address.address_label' | translate }}
        <br />
        <span class="selectable typography--mono" (click)="copyAddressToClipboard()">{{ wallet.receivingPublicAddress }}</span>
      </p>
      <p>
        {{ 'wallet-address.path_label' | translate }}
        <br />
        <span class="selectable typography--mono">{{ wallet.derivationPath }}</span>
      </p>
    </ion-col>
  </ion-row>

  <p class="ion-padding-horizontal ion-padding-bottom">You can sync this account with:</p>

  <ion-row *ngFor="let option of syncOptions" class="ion-padding-bottom">
    <ion-col size="12">
      <ion-button expand="block" color="light" (click)="share(option)" shape="round">
        <img src="assets/logos/{{option.icon}}" style="width: 24px; height: 24px" />
        &nbsp; {{option.name}}
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Address QR</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-row class="ion-justify-content-center ion-padding-bottom">
          <airgap-qr [qrdata]="wallet.receivingPublicAddress" [level]="'L'" [size]="300"></airgap-qr>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
