airgap-currency-symbol {
  position: absolute;
  height: 32px;
  width: 32px;
  left: 40px;
  top: 40px;
}
airgap-identicon {
  width: 64px;
  height: 64px;
  img {
    width: 64px;
    height: 64px;
  }
}
