airgap-currency-symbol {
  position: absolute;
  height: 32px;
  width: 32px;
  left: 40px;
  top: 40px;
}
airgap-identicon,
airgap-identicon img,
ion-avatar {
  width: 64px;
  height: 64px;
}

ion-modal {
  --ion-background-color: var(--ion-color-secondary);
  ion-toolbar {
    --background: var(--ion-color-secondary);
  }
  --ion-text-color: var(--ion-color-secondary-contrast);
  ion-toggle {
    --handle-background: var(--ion-color-secondary-contrast);
  }
  ion-radio,
  ion-label,
  ion-segment-button,
  ion-toolbar {
    --color: var(--ion-color-secondary-contrast);
  }
  ion-item,
  ion-checkbox {
    --border-color: var(--ion-color-secondary-contrast);
  }
}
