<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'danger-zone.label' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>{{ 'danger-zone.description' | translate }}</p>
  <ion-list class="ion-no-border no-padding" lines="none">
    <ion-item (click)="resetVault()">
      <ion-icon name="warning" slot="start"></ion-icon>
      {{ 'danger-zone.wipe_label' | translate }}
    </ion-item>
    <ion-item (click)="loadModule()">
      <ion-icon name="warning" slot="start"></ion-icon>
      {{ 'danger-zone.load-module_label' | translate }}
    </ion-item>
  </ion-list>
</ion-content>
