<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      SeedQR Template
    </ion-title>

  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding colored-background">


  <ion-card>

    <ion-card-content>


      <h2>
        {{ format === 'compact' ? 'Compact SeedQR' : 'Standard SeedQR' }}
      </h2>


      <p>
        Template {{ numModules }}x{{ numModules }}
      </p>


      <p>
        {{ 'secret-seedqr-template.seed-words' | translate:{count: wordCount} }}
      </p>


      <div  class="qr-container" *ngIf="!showZone">

  <img
  [src]="qrImage"
  class="compact-qr"
  alt="Compact SeedQR">

  <div
    class="zone-grid"
    [style.grid-template-columns]="
  numModules === 21
    ? 'repeat(3, 1fr)'
    : numModules === 25
      ? 'repeat(5, 1fr)'
      : '5fr 5fr 5fr 5fr 5fr 4fr'
"
    [style.grid-template-rows]="
  numModules === 21
    ? 'repeat(3, 1fr)'
    : numModules === 25
      ? 'repeat(5, 1fr)'
      : '5fr 5fr 5fr 5fr 5fr 4fr'
"> 

  <button
  class="zone"
  *ngFor="let zone of zones"
  [class.disabled]="zone.disabled"
  (click)="!zone.disabled && selectZone(zone)"
  (keydown.enter)="!zone.disabled && selectZone(zone)">
</button>

  </div>

</div>

      <ion-card *ngIf="showZone">

        <ion-card-content>

          <h2>
            {{ 'secret-seedqr-template.block' | translate }} {{ selectedZone.label }}
         </h2>

             <p>
             {{ 'secret-seedqr-template.size' | translate }}: {{ zoneRows }}x{{ zoneCols }}
            </p>

            <p>
             {{ 'secret-seedqr-template.instruction' | translate }}
            </p>
          
          <div
           class="zone-preview"
           [style.grid-template-columns]="'repeat(' + zoneCols + ', 40px)'"
           [style.grid-template-rows]="'repeat(' + zoneRows + ', 40px)'">

            <div
             class="zone-row"
             *ngFor="let row of zoneModules">

              <div
               class="zone-cell"
               *ngFor="let cell of row"
               [class.black]="cell">
              </div>

            </div>

          </div>
          
          <ion-button
  expand="block"
  fill="outline"
  (click)="showZone = false"
  (keydown.enter)="showZone = false"
  (keyup.enter)="showZone = false">

  {{ 'secret-seedqr-template.back' | translate }}

</ion-button>
        </ion-card-content>

      </ion-card>


    </ion-card-content>

  </ion-card>


</ion-content>