<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-secrets"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'migration.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-padding-bottom">{{ 'migration.heading' | translate }}</h3>

  @if ((walletGroups$ | async).status === UIResourceStatus.SUCCESS) {
    <ion-list lines="none">
      <ion-list-header class="ion-no-padding">
        <ion-label color="light" [innerHtml]="'migration.list.header' | translate"></ion-label>
      </ion-list-header>
      @for (group of (walletGroups$ | async).value; track group) {
        <ion-item detail="false" class="ion-no-padding">
          <ion-label color="light">{{ group.label }}</ion-label>
          @if ((isRunning$ | async) || (isDone$ | async)) {
            @if (group.status === 'migrating') {
              <ion-spinner name="lines" slot="end"></ion-spinner>
            }
            @if (group.status === 'migrated') {
              <ion-icon name="checkmark-done-outline" slot="end"></ion-icon>
            }
            @if (group.status === 'skipped') {
              <ion-icon name="close-outline" slot="end"></ion-icon>
            }
            @if (group.status === 'partiallyMigrated') {
              <ion-icon name="alert-outline" slot="end"></ion-icon>
            }
            @if (group.status === 'waiting') {
              <ion-icon name="time-outline" slot="end"></ion-icon>
            }
          }
        </ion-item>
        <ion-list lines="none">
          @for (wallet of group.wallets; track wallet) {
            <ion-item>
              <span class="airgap-account-item-migration">
                <airgap-account-item [wallet]="wallet.data"></airgap-account-item>
              </span>
              @if ((isRunning$ | async) || (isDone$ | async)) {
                @if (wallet.status === 'migrating') {
                  <ion-spinner name="lines-small" slot="end"></ion-spinner>
                }
                @if (wallet.status === 'migrated') {
                  <ion-icon name="checkmark-outline" size="small" slot="end"></ion-icon>
                }
                @if (wallet.status === 'skipped') {
                  <ion-icon name="close-outline" size="small" slot="end"></ion-icon>
                }
                @if (wallet.status === 'waiting') {
                  <ion-icon name="time-outline" size="small" slot="end"></ion-icon>
                }
              }
            </ion-item>
          }
        </ion-list>
      }
    </ion-list>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    @if ((walletGroups$ | async).status === UIResourceStatus.SUCCESS && !(isDone$ | async)) {
      <ion-button
        [disabled]="isRunning$ | async"
        color="primary"
        shape="round"
        (click)="run()"
        >
        {{ 'migration.button-run_label' | translate }}
      </ion-button>
    }
    @if ((walletGroups$ | async).status !== UIResourceStatus.IDLE && (isDone$ | async)) {
      <ion-button
        color="primary"
        shape="round"
        (click)="finish()"
        >
        {{ 'migration.button-done_label' | translate }}
      </ion-button>
    }
  </ion-fab>
</ion-content>
