<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-secrets">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>{{ 'tabs.secrets' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-scan">
      <ion-icon name="barcode-outline"></ion-icon>
      <ion-label>{{ 'tabs.scanner' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'tabs.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
