.typography--mono {
  text-transform: lowercase;
  line-height: 32px;
}

#blur {
  color: transparent;
  text-shadow: 0 0 18px #fff;
}

ion-content {
  --padding-bottom: var(--ion-padding, 64px);
}

.lifehash {
  width: 64px;
  height: 64px;
}
