<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-setup"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-show.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding colored-background">
  <p class="ion-padding-bottom">{{ 'secret-show.text' | translate }}</p>

  <p class="font--weight__med">{{ 'secret-show.fingerprint' | translate }}</p>
  <h3>
    <img [src]="lifehashData" />
    {{ secret.fingerprint}}
  </h3>

  <h6 [id]="isBlurred ? 'blur' : ''" class="typography--mono">{{ secret.recoverMnemonicFromHex(secret.secretHex) }}</h6>

  <ion-button [disabled]="!isBlurred" (click)="removeBlur()">Remove Blur</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="primary" (click)="goToValidateSecret()">{{ 'secret-show.next-step_label' | translate }}</ion-button>
  </ion-fab>
</ion-content>
