<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-setup"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-show.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding colored-background">
  <p class="ion-padding-bottom">{{ 'secret-show.text' | translate }}</p>

  <ion-row *ngIf="(isAdvancedMode$ | async)">
    <ion-col size="3"><img class="lifehash" [src]="lifehashData" /></ion-col>
    <ion-col size="9">
      <div class="font--weight__med">{{ 'secret-show.fingerprint' | translate }}</div>
      <div><h5>{{ secret.fingerprint}}</h5></div>
    </ion-col>
  </ion-row>

  <h6 [id]="isBlurred ? 'blur' : ''" class="typography--mono">
    {{ isBlurred ? blurText : secret.recoverMnemonicFromHex(secret.secretHex) }}
  </h6>

  <ion-button (click)="changeBlur()">{{ isBlurred ? 'Show Recovery Phrase' : 'Hide Recovery Phrase'}}</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="primary" (click)="goToValidateSecret()">{{ 'secret-show.next-step_label' | translate }}</ion-button>
  </ion-fab>
</ion-content>
