<ion-header transparent no-border>
  <ion-toolbar transparent>
    <ion-title>
      <ion-text>
        <p color="white">{{ 'secret-show.title' | translate }}</p>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="colored-background">
  <p padding-bottom>{{ 'secret-show.text' | translate }}</p>

  <h3 class="secret--typography">{{ secret.recoverMnemonicFromHex(secret.secretHex) }}</h3>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <ion-button default color="primary" (click)="goToValidateSecret()" shape="round" item-right>
        {{ 'secret-show.next-step_label' | translate }}
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
