<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-secrets"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'wallet-share-select.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-padding-bottom" [innerHTML]="'wallet-share-select.heading' | translate"></h3>

  @if ((secrets$ | async).status === UIResourceStatus.SUCCESS) {
    <ion-list lines="none">
      @for (secret of (secrets$ | async).value; track secret) {
        <ion-item detail="false" class="ion-no-padding">
          <ion-label class="white">{{ secret.label }}</ion-label>
          <ion-checkbox
            slot="end"
            color="primary"
            [checked]="(isChecked$ | async)[secret.id]"
            (ionChange)="toggleSecret(secret)"
          ></ion-checkbox>
        </ion-item>
        @if ((isChecked$ | async)[secret.id]) {
          <ion-list lines="none">
            <span class="airgap-account-item-migration">
              @for (wallet of (secret.wallets | walletFilter: { status: AirGapWalletStatus.ACTIVE } | async) || []; track wallet) {
                <airgap-account-item
                  [wallet]="wallet"
                ></airgap-account-item>
              }
            </span>
          </ion-list>
        }
      }
    </ion-list>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button [disabled]="!(syncEnabled$ | async)" color="primary" shape="round" (click)="sync()">
      {{ 'wallet-share-select.sync_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
