// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #f7296e;
  --ion-color-primary-rgb: 247, 41, 110;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d92461;
  --ion-color-primary-tint: #f83e7d;

  --ion-color-secondary: #311b58;
  --ion-color-secondary-rgb: 49, 27, 88;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2b184d;
  --ion-color-secondary-tint: #463269;

  --ion-color-tertiary: #50239f;
  --ion-color-tertiary-rgb: 80, 35, 159;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  --ion-color-dark: #222222;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;

  /** gray light **/
  --ion-color-grayLight: #f4f4f4;
  --ion-color-grayLight-rgb: 244, 244, 244;
  --ion-color-grayLight-contrast: #000000;
  --ion-color-grayLight-contrast-rgb: 255, 255, 255;
  --ion-color-grayLight-shade: #d7d7d7;
  --ion-color-grayLight-tint: #f5f5f5;
}
/* secondary background color whith corresponding colors */
airgap-account-add,
airgap-account-address,
airgap-account-share,
airgap-account-share-select,
airgap-address-explorer,
airgap-secret-setup,
airgap-secret-generate,
airgap-secret-import,
airgap-secret-add,
airgap-secret-edit,
airgap-warning-modal,
airgap-migration,
airgap-introduction,
airgap-social-recovery-import,
airgap-interaction-selection,
airgap-interaction-selection-settings,
airgap-deserialized-detail,
airgap-transaction-signed,
airgap-secret-generate-onboarding,
airgap-social-recovery-setup,
airgap-secret-generate,
airgap-secret-generate-dice,
airgap-secret-generate-coin-flip,
airgap-secret-validate,
airgap-secret-rules,
airgap-secret-show,
airgap-social-recovery-show-share,
airgap-social-recovery-validate-share,
airgap-current-secret,
airgap-bip85-generate,
airgap-bip85-show,
airgap-local-authentication-onboarding,
airgap-link-page,
airgap-deserialized-detail,
airgap-address-explorer {
  --ion-background-color: var(--ion-color-secondary);
  ion-toolbar {
    --background: var(--ion-color-secondary);
  }
  --ion-text-color: var(--ion-color-secondary-contrast);
  ion-toggle {
    --handle-background: var(--ion-color-secondary-contrast);
  }
  ion-radio,
  ion-label,
  ion-segment-button,
  ion-toolbar {
    --color: var(--ion-color-secondary-contrast);
  }
  ion-item,
  ion-checkbox {
    --border-color: var(--ion-color-secondary-contrast);
  }
}

airgap-tab-accounts {
  ion-item {
    --detail-icon-color: var(--ion-color-dark);
  }
}

.ios {
  ion-item {
    --background-activated: transparent;
  }
}

airgap-mnemonic-keyboard {
  @media only screen and (max-width: 360px) {
    ion-button {
      --padding-start: 10px;
      --padding-end: 10px;
    }
  }
}
