<ion-item lines="none" class="ion-no-padding">
  <ion-avatar slot="start">
    <airgap-identicon [address]="wallet.receivingPublicAddress"></airgap-identicon>
    <airgap-currency-symbol [symbol]="wallet.protocol.symbol"></airgap-currency-symbol>
  </ion-avatar>
  <ion-label>
    <h2>
      <span class="font--weight__med">{{ wallet.protocol.name }}</span>
      {{ wallet.protocol.symbol }}
    </h2>
    <p class="typography--mono">{{ wallet.receivingPublicAddress }}</p>
  </ion-label>
</ion-item>
