<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      {{ 'social-recovery-setup.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="font--weight__med ion-padding-bottom">{{ 'social-recovery-setup.text' | translate }}</p>
  <p class="font--weight__med">{{ 'social-recovery-setup.secret-shares.label' | translate }}</p>
  <p class="ion-padding-bottom">{{ 'social-recovery-setup.secret-shares.text' | translate }}</p>
  <p class="font--weight__med">{{ 'social-recovery-setup.shares-number_label' | translate }}</p>
  <ion-row class="ion-padding-bottom">
    <ion-button
      shape="round"
      color="tertiary"
      class="button--rounded"
      *ngFor="let i of [2, 3, 4, 5, 6]"
      (click)="setNumberOfShares(i)"
      [color]="i === numberOfShares ? 'primary' : 'tertiary'"
    >
      {{ i }}
    </ion-button>
  </ion-row>
  <p class="font--weight__med">{{ 'social-recovery-setup.shares-recovery_label' | translate }}</p>
  <ion-row>
    <ion-button
      shape="round"
      color="tertiary"
      class="button--rounded"
      *ngFor="let i of [2, 3, 4, 5, 6]"
      (click)="setNumberOfRequiredShares(i)"
      [color]="i === numberOfRequiredShares ? 'primary' : 'tertiary'"
      [disabled]="i > numberOfShares"
    >
      {{ i }}
    </ion-button>
  </ion-row>
</ion-content>

<ion-footer no-border>
  <ion-item lines="none" transparent>
    <ion-button color="primary" shape="round" (click)="next()">
      {{ 'social-recovery-setup.start_label' | translate }}
    </ion-button>
  </ion-item>
</ion-footer>

<ion-footer no-border color="primary">
  <ion-toolbar color="primary ion-no-padding">
    <ion-row>
      <ion-col size="3" class="ion-no-padding">
        <!-- TODO: navigate back -->
        <ion-button slot="start" fill="clear" color="white">
          <ion-icon md-name="chevron_left" (click)="back()"></ion-icon>
          {{ 'social-recovery-setup.back_label' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-row class="full--height ion-justify-content-center ion-align-items-center">
          <!-- TODO: Set active color for current page/view ! -->
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
        </ion-row>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <!-- TODO: navigate forward -->
        <ion-button slot="end" fill="clear" color="white" (click)="next()">
          {{ 'social-recovery-setup.next_label' | translate }}
          <ion-icon md-name="chevron_right"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
