// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

/* styling for translations */
.style__strong {
  font-weight: bold;
}
.color__primary {
  color: var(--ion-color-primary);
}
/* right aligns text for component current-secret */
airgap-current-secret ion-select {
  text-align: right;
}
/* monotype */
.typography--mono {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 600;
  word-wrap: break-word;
}
/* font weight - medium */
.font--weight__med {
  font-weight: 500;
}
/* forces the paragraph size */
p {
  font-size: 14px;
}
/* List styling */
airgap-warning-modal {
  ul {
    padding-inline-start: 0;
    list-style: none;
    li:before {
      content: '\00AC';
      padding-right: 4px;
    }
  }
}

/* secondary background color whith corresponding colors */
airgap-account-add,
airgap-account-address,
airgap-secret-create,
airgap-secret-generate,
airgap-secret-import,
airgap-secret-edit,
airgap-warning-modal,
airgap-introduction,
airgap-social-recovery-import,
airgap-interaction-selection,
airgap-interaction-selection-settings,
airgap-transaction-detail,
airgap-secret-generate-onboarding,
airgap-social-recovery-setup,
secret-generate,
secret-validate {
  --ion-background-color: var(--ion-color-secondary);
  --ion-text-color: var(--ion-color-secondary-contrast);
  ion-toggle {
    --handle-background: var(--ion-color-secondary-contrast);
  }
  ion-radio,
  ion-label,
  ion-segment-button {
    --color: var(--ion-color-secondary-contrast);
  }
  ion-item,
  ion-checkbox {
    --border-color: var(--ion-color-secondary-contrast);
  }
}
/* ion-textarea height fix */
airgap-secret-import ion-textarea textarea {
  height: inherit;
}
/* sets the identicon component size */
airgap-identicon {
  width: inherit;
  height: inherit;
  min-width: 48px;
  min-height: 48px;
}
/* clipboard compomnent styling */
airgap-qr-clipboard {
  padding: 24px;
  background-color: var(--ion-color-secondary-contrast);
}
