// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

/* right aligns text for component current-secret */
current-secret ion-select {
  text-align: right;
}
/* monotype */
.typography--mono {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 600;
  font-size: 1.4rem;
  word-wrap: break-word;
}
/* font weight - medium */
.font--weight__med {
  font-weight: 500;
}
/* forces the paragraph size */
p {
  font-size: 14px;
}

/* Secondary Background color whith corresponding colors */
app-account-add,
account-address,
app-secret-create,
secret-generate,
secret-import {
  --ion-background-color: var(--ion-color-secondary);
  --ion-text-color: var(--ion-color-secondary-contrast);
  ion-toggle {
    --handle-background: var(--ion-color-secondary-contrast);
  }
  ion-radio {
    --color: var(--ion-color-secondary-contrast);
  }
  ion-item {
    --border-color: var(--ion-color-secondary-contrast);
  }
}
/* ion-textarea height fix */
secret-import ion-textarea textarea {
  height: inherit;
}
