<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'transaction-detail.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>{{ 'transaction-detail.text' | translate }}</h3>
  <airgap-signed-transaction [unsignedTxs]="signTransactionRequests"></airgap-signed-transaction>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="signAndGoToNextPage()">
      <ion-icon slot="start" src="assets/icons/md-check.svg"></ion-icon>
      {{ 'transaction-detail.sign-tx_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
