<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-create"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-validate.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="ion-padding-horizontal">{{ 'secret-validate.text' | translate }}</p>
  <airgap-verify-key
    #verify
    [secret]="secret.recoverMnemonicFromHex(secret.secretHex)"
    (onComplete)="onComplete($event)"
    (onContinue)="onContinue()"
  ></airgap-verify-key>
</ion-content>
