ion-icon {
    display: block;
    margin: auto;
    font-size: 6em;
    margin-top: 10%;
    margin-bottom: 10%;
}

.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  .row-button {
    height: 100%;
    font-size: large;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    width: 50px;
    height: 50px;
  }
}