page-tab-secrets {

  hexagon-icon {
    height:56px;
    width:56px;
    float:left;
  }

  .secret--label {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: 800;
  }
}
