<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>{{ 'tab-security.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="runChecks()">Run all checks</ion-button>

  <ng-container *ngIf="securityScore">
    <div class="sc-gauge">
      <div class="sc-background">
        <div class="sc-percentage"></div>
        <div class="sc-mask"></div>
        <span class="sc-value">{{securityScore}}%</span>
      </div>
      <span class="sc-min">0</span>
      <span class="sc-max">100</span>
    </div>
  </ng-container>

  <ion-list>
    <ng-container *ngFor="let group of groups">
      <ion-item (click)="toggleShow(group)" detail="true">
        {{group.name}} ({{group.checks.length}})
        <ion-buttons slot="end">
          <ion-button shape="round" size="small" color="secondary">
            <ion-spinner name="lines-small" color="primary" *ngIf="group.status === 'pending'"></ion-spinner>
            <span *ngIf="group.status === 'unknown'"><ion-icon size="large" color="medium" name="help-circle-outline"></ion-icon></span>
            <span *ngIf="group.status === 'fail'"><ion-icon size="large" color="danger" name="close-circle"></ion-icon></span>
            <span *ngIf="group.status === 'warning'"><ion-icon size="large" color="warning" name="alert-circle-outline"></ion-icon></span>
            <span *ngIf="group.status === 'success'">
              <ion-icon size="large" color="success" name="checkmark-circle-outline"></ion-icon>
            </span>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ng-container *ngIf="group.showChecks">
        <ion-item *ngFor="let item of group.checks" (click)="showDescription(item)" detail="true">
          > {{item.title}}
          <ion-buttons slot="end">
            <ion-button shape="round" size="small" color="secondary">
              <ion-spinner name="lines-small" color="primary" *ngIf="item.status === 'pending'"></ion-spinner>
              <span *ngIf="item.status === 'unknown'"><ion-icon size="large" color="medium" name="help-circle-outline"></ion-icon></span>
              <span *ngIf="item.status === 'fail'"><ion-icon size="large" color="danger" name="close-circle"></ion-icon></span>
              <span *ngIf="item.status === 'warning'"><ion-icon size="large" color="warning" name="alert-circle-outline"></ion-icon></span>
              <span *ngIf="item.status === 'success'">
                <ion-icon size="large" color="success" name="checkmark-circle-outline"></ion-icon>
              </span>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

  <p>
    The checks on this page test several mechanisms that are used throughout our apps and report any issues. This can help catch issues with
    your device or with the software. However, if someone has complete access to your device or can alter the contents of AirGap Vault,
    these security checks can be manipulated, so make sure you are running AirGap Vault on secure hardware.
  </p>
</ion-content>
