<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 [innerHTML]="'secret-generate-onboarding.heading' | translate"></h1>

  <ion-row class="ion-justify-content-center ion-padding-vertical"><img src="./assets/img/permission_onboarding.svg" /></ion-row>

  <p>{{ 'secret-generate-onboarding.text' | translate }}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="continue()">
      {{ 'secret-generate-onboarding.grant-permission_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
