<ion-header transparent no-border><ion-toolbar transparent></ion-toolbar></ion-header>

<ion-content class="colored-background" padding no-bounce>
  <h1 [innerHTML]="'secret-generate-onboarding.heading' | translate"></h1>

  <ion-row justify-content-center padding-vertical><img src="./assets/img/permission_onboarding.svg" /></ion-row>

  <p>{{ 'secret-generate-onboarding.text' | translate }}</p>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <ion-button default color="primary" shape="round" item-right (click)="continue()">
        {{ 'secret-generate-onboarding.grant-permission_label' | translate }}
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
