<ion-header transparent no-border>
  <ion-navbar transparent>
    <ion-title><p ion-text color="white">Social Recovery</p></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="colored-background" padding>
  <p class="font--weight__med" padding-bottom>With Social Recovery you can create secret shares and distribute them to social contacts you trust. You can recover a lost secret if you have a set number of these secret shares.</p>
  <p class="font--weight__med">Secret Shares</p>
  <p padding-bottom>You will define the amount of shares you will generate and how many are effectievly needed for a successful recovery of your secret.</p>
  <p class="font--weight__med">Number of secret shares</p>
  <ion-row padding-bottom>
    <button *ngFor="let i of [2,3,4,5,6]" class="button--rounded" ion-button round color="secondary-light" (click)="setNumberOfShares(i)" [color]="i === numberOfShares? 'primary' : 'secondary-light'">{{i}}</button>
  </ion-row>
  <p class="font--weight__med">Number of shares needed for recovery</p>
  <ion-row>
    <button *ngFor="let i of [2,3,4,5,6]" class="button--rounded" ion-button round color="secondary-light" (click)="setNumberOfRequiredShares(i)" [color]="i === numberOfRequiredShares? 'primary' : 'secondary-light'" [disabled]="i > numberOfShares">{{i}}</button>
  </ion-row>
</ion-content>

<ion-footer no-border>
  <ion-item no-lines transparent>
    <button default ion-button color="primary" (click)="done()" round item-right>
      Start
    </button>
  </ion-item>
</ion-footer>

<ion-footer no-border color="primary">
  <ion-navbar color="primary" no-padding>
    <ion-row>
      <ion-col col-3 no-padding>
        <!-- TODO: navigate back -->
        <button ion-button icon-left clear color="white">
          <ion-icon md-name="chevron_left" (click)="back()"></ion-icon>
          Back
        </button>
      </ion-col>
      <ion-col col-6 no-padding>
        <ion-row justify-content-center align-items-center class="full--height">
          <!-- TODO: Set active color for current page/view !-->
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
          <ion-icon md-name="fiber_manual_record" color="white"></ion-icon>
        </ion-row>
      </ion-col>
      <ion-col col-3 no-padding>
        <!-- TODO: navigate forward -->
        <button ion-button icon-right clear color="white" (click)="next()">
          Next
          <ion-icon md-name="chevron_right"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-footer>
