<ion-header transparent no-border>
  <ion-navbar transparent>
    <ion-title>
      <p ion-text color="white">{{ 'social-recovery-setup.title' | translate }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="colored-background" padding>
  <p class="font--weight__med" padding-bottom>{{ 'social-recovery-setup.text' | translate }}</p>
  <p class="font--weight__med">{{ 'social-recovery-setup.secret-shares.label' | translate }}</p>
  <p padding-bottom>{{ 'social-recovery-setup.secret-shares.text' | translate }}</p>
  <p class="font--weight__med">{{ 'social-recovery-setup.shares-number_label' | translate }}</p>
  <ion-row padding-bottom>
    <button
      *ngFor="let i of [2, 3, 4, 5, 6]"
      class="button--rounded"
      ion-button
      round
      color="secondary-light"
      (click)="setNumberOfShares(i)"
      [color]="i === numberOfShares ? 'primary' : 'secondary-light'"
    >
      {{ i }}
    </button>
  </ion-row>
  <p class="font--weight__med">{{ 'social-recovery-setup.shares-recovery_label' | translate }}</p>
  <ion-row>
    <button
      *ngFor="let i of [2, 3, 4, 5, 6]"
      class="button--rounded"
      ion-button
      round
      color="secondary-light"
      (click)="setNumberOfRequiredShares(i)"
      [color]="i === numberOfRequiredShares ? 'primary' : 'secondary-light'"
      [disabled]="i > numberOfShares"
    >
      {{ i }}
    </button>
  </ion-row>
</ion-content>

<ion-footer no-border>
  <ion-item no-lines transparent>
    <button default ion-button color="primary" (click)="done()" round item-right>
      {{ 'social-recovery-setup.start_label' | translate }}
    </button>
  </ion-item>
</ion-footer>

<ion-footer no-border color="primary">
  <ion-navbar color="primary" no-padding>
    <ion-row>
      <ion-col col-9 no-padding></ion-col>
      <ion-col col-3 no-padding>
        <button ion-button icon-right clear color="white" (click)="next()">
          {{ 'social-recovery-setup.next_label' | translate }}
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-footer>
