<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-edit"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-wrapper">
    <h2>Keep this rule in mind</h2>
    <div class="title-wrapper" *ngIf="state == 0">
      <h1>#1</h1>
      <h3>Write these words down on a piece of paper or a metal plate</h3>
    </div>

    <div class="title-wrapper" *ngIf="state == 1">
      <h1>#2</h1>
      <h3>The words need to be in the correct order</h3>
    </div>

    <div class="title-wrapper" *ngIf="state == 2">
      <h1>#3</h1>
      <h3>Check the spelling of each word</h3>
    </div>

    <div class="title-wrapper" *ngIf="state == 3">
      <h1>#4</h1>
      <h3>Stora the written down secret in a safe place</h3>
    </div>

    <div class="title-wrapper" *ngIf="state == 4">
      <h1>#5</h1>
      <h3>Do not take a screenshot or photo and do not photocopy your secret</h3>
    </div>

    <div class="title-wrapper" *ngIf="state == 5">
      <h1>#6</h1>
      <h3>Do not upload your secret to the cloud</h3>
    </div>

    <div class="row-center">
      <ion-button
        class="row-button"
        shape="round"
        color="tertiary"
        *ngFor="let i of [0, 1, 2, 3, 4, 5]"
        (click)="changeState(i)"
        [color]="i === state ? 'light' : 'medium'"
      ></ion-button>
    </div>

    <div class="buttons-wrapper">
      <ion-button *ngIf="state > 0" color="light" fill="clear" (click)="prevState()">Back</ion-button>
      <ion-button [color]="5 === state ? 'primary' : 'light'" fill="clear" (click)="nextState()">
        {{state == 5 ? "Let's Go" : "Next"}}
      </ion-button>
    </div>
  </div>
</ion-content>
