<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>{{ 'tab-settings.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'tab-settings.information_label' | translate }}</ion-label>
    </ion-list-header>

    <ion-item lines="none" (click)="goToAbout()" detail="true">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>{{ 'tab-settings.about' | translate }}</ion-label>
    </ion-item>

    <ion-item lines="none" (click)="goToOnboarding()" detail="true">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      {{ 'tab-settings.welcome-onboarding_label' | translate }}
    </ion-item>

    <!-- <ion-item lines="none" (click)="goToDisclaimer()">
      <ion-icon name="list" slot="start"></ion-icon>
      {{ 'tab-settings.disclaimer_label' | translate }}
    </ion-item> -->

    <!--
      TODO: Enable once history is in components lib
      <ion-item lines="none" detail="true" (click)="goToInteractionHistory()">
        <ion-icon slot="start" color="dark" src="assets/icons/md-info.svg"></ion-icon>
        <ion-label>Interaction History</ion-label>
      </ion-item>
    -->
  </ion-list>

  <ion-list class="ion-no-border" lines="none">
    <ion-list-header class="ion-no-margin" lines="none">
      <ion-label>{{ 'tab-settings.interaction-options_label' | translate }}</ion-label>
    </ion-list-header>
    <ion-item (click)="pasteClipboard()">
      <ion-icon name="return-up-forward-outline" slot="start"></ion-icon>
      {{ 'tab-settings.paste-from-clipboard_label' | translate }}
    </ion-item>

    <ion-item (click)="goToQrSettings()" detail="true">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>
      {{ 'tab-settings.qr-advanced-settings_label' | translate }}
    </ion-item>

    <ion-item (click)="goToInteractionSettings()" detail="true">
      <ion-icon src="assets/icons/md-swap_horiz.svg" slot="start"></ion-icon>
      {{ 'tab-settings.interaction-settings_label' | translate }}
    </ion-item>
  </ion-list>

  <ion-list class="ion-no-border" lines="none">
    <ion-list-header class="ion-no-margin" lines="none">
      <ion-label>{{ 'tab-settings.advanced-settings_label' | translate }}</ion-label>
    </ion-list-header>

    <ion-item lines="none" (click)="goToInstallationType()" detail="true">
      <ion-icon name="extension-puzzle-outline" slot="start"></ion-icon>
      {{ 'tab-settings.installation-type_label' | translate }}
    </ion-item>

    <ion-item lines="none" (click)="goToAdvancedModeType()" detail="true">
      <ion-icon name="build-outline" slot="start"></ion-icon>
      {{ 'tab-settings.advanced-mode-type_label' | translate }}
    </ion-item>

    <ion-item (click)="goToBip39Wordlist()" detail="true">
      <ion-icon name="list" slot="start"></ion-icon>
      {{ 'tab-settings.bip39_wordlist_label' | translate }}
    </ion-item>

    <ion-item (click)="goToErrorHistory()" detail="true">
      <ion-icon name="bug-outline" slot="start"></ion-icon>
      {{ 'tab-settings.error-history_label' | translate }}
    </ion-item>

    <ion-item (click)="goToDangerZone()" detail="true">
      <ion-icon name="warning" slot="start"></ion-icon>
      {{ 'tab-settings.danger-zone_label' | translate }}
    </ion-item>
  </ion-list>
</ion-content>
