<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onClickBack()">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'contact-book.title_address_book' | translate }}</ion-title>
    <ion-buttons slot="primary" (click)="onClickNew($event)">
      <ion-button>
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-searchbar placeholder="{{'contact-book.label_search_contacts' | translate}}" (ionInput)="onSearch($event)"></ion-searchbar>
    <ion-buttons slot="primary" (click)="onClickSort($event)">
      <ion-button>
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (contacts$ | async; as contacts) {
    @for (key of getHeading(contacts); track key) {
      <div class="contacts-wrapper">
        @if (sortType === sortEnum.NAME) {
          <h3 class="contacts-letter">{{key | uppercase}}</h3>
        } @else {
          <h3 class="contacts-letter">{{key}}</h3>
        }
        @for (contact of getContacts(contacts, key); track contact) {
          <div>
            <airgap-contact-book-contacts-item
              [name]="contact.name"
              [address]="contact.address"
              [date]="contact.date"
              [addedFrom]="contact.addedFrom"
              (click)="onClickItem(contact)"
            ></airgap-contact-book-contacts-item>
          </div>
        }
      </div>
    }
  }
  @if (suggestions.length > 0) {
    <div class="suggestions-wrapper">
      <h3 class="suggestions-header">{{ 'contact-book.label_suggestions' | translate }}</h3>
      @for (suggestion of suggestions; track suggestion) {
        <div>
          <airgap-contact-book-contacts-suggestion
            [address]="suggestion"
            (onClickAdd)="onClickAddSuggestion(suggestion)"
            (onClickClose)="onClickCloseSuggestion(suggestion)"
          ></airgap-contact-book-contacts-suggestion>
        </div>
      }
    </div>
  }
</ion-content>
