<ng-container *ngIf="airGapTxs$ | async as airGapTxs">
  <ng-container *ngIf="aggregatedDetails$ | async as aggregatedDetails">
    <dl class="transaction-summary ion-padding-bottom">
      <dt>Amount</dt>
      <dd>
        {{
          aggregatedDetails.totalAmount.toFixed()
            | amountConverter : { protocol: protocolIdentifier$ | async, maxDigits: undefined }
            | async
        }}
      </dd>
      <dt>Operations</dt>
      <dd>{{ aggregatedDetails.numberOfTxs }}</dd>
      <dt>Fee</dt>
      <dd>{{ aggregatedDetails.totalFees.toFixed() | feeConverter : { protocol: protocolIdentifier$ | async } | async }}</dd>
    </dl>
  </ng-container>

  <ng-container *ngFor="let airGapTx of airGapTxs">
    <airgap-transaction-warning [transaction]="airGapTx"></airgap-transaction-warning>
    <airgap-transaction-details
      class="ion-padding-horizontal"
      [transaction]="airGapTx"
      [interactionData]="rawdata"
      [hideNetwork]="true"
    ></airgap-transaction-details>
  </ng-container>
</ng-container>
