<div class="input--container">
  <span class="typography--mono">{{ text }}</span>
</div>

<ion-row class="suggestion--container">
  <ion-button
    *ngFor="let suggestion of suggestions"
    shape="round"
    size="small"
    [color]="'primary'"
    class="typography--mono lowercase"
    (click)="selectWord(suggestion)"
  >
    {{ suggestion }}
  </ion-button>
</ion-row>

<div class="content--align__center-center" *ngFor="let row of rows">
  <ion-button
    *ngFor="let letter of row"
    [id]="'key-' + letter.letter"
    size="small"
    [color]="letter.active ? 'primary' : 'tertiary'"
    class="typography--mono lowercase"
    [disabled]="!letter.enabled"
    (click)="selectLetter(letter.letter)"
  >
    <span [innerHTML]="letter.letter"></span>
  </ion-button>
</div>

<div class="content--align__center-center actions--container">
  <ion-button (click)="delete()"><ion-icon name="trash-outline"></ion-icon></ion-button>
  <ion-button (click)="toggleShuffled()"><ion-icon name="shuffle-outline"></ion-icon></ion-button>
  <!-- TODO: add paste/shuffle action -->
  <ion-button><ion-icon name="clipboard-outline"></ion-icon></ion-button>
  <ion-button><ion-icon name="eye-off-outline"></ion-icon></ion-button>
</div>
