.lowercase {
  text-transform: lowercase;
}
.suggestion--container {
  padding: 0.5rem 0;
  min-height: 2.5rem;
}
.input--container {
  min-height: 1.5rem;
}
.actions--container {
  padding-top: 0.5rem;
}
