<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>Security Level Self-Check</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 [innerHTML]="'security-level-self-check.heading' | translate"></h3>
  {{'security-level-self-check.description' | translate}}
  <ion-list lines="none" class="ion-padding-vertical">
    <ion-item detail="false" class="ion-no-padding" *ngFor="let phrase of checkPhrases">
      <ion-checkbox slot="start"></ion-checkbox>
      {{phrase}}
    </ion-item>
  </ion-list>
  <ion-card></ion-card>
</ion-content>
