<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/danger-zone"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'isolated-modules-list.title' | translate }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="addModule()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <airgap-isolated-modules-list (onModuleSelected)="onModuleSelected($event)"></airgap-isolated-modules-list>
</ion-content>
