.avatar--container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  ion-icon {
    font-size: 24px;
  }
}
.background--color__primary {
  background-color: var(--ion-color-primary);
}
.background--color__tertiary {
  background-color: var(--ion-color-tertiary);
}

ion-content {
  --padding-bottom: var(--ion-padding, 64px);
}

.lifehash {
  width: 64px;
  height: 64px;
}
