<ion-item no-lines detail-push no-padding>
  <div detail-push no-padding>
    <div no-padding>
      <h2 ion-text class="secret--label" color="black" no-margin>{{ secret.label }}</h2>
    </div>

    <ion-row>
      <ion-row>
        <button
          [color]="secret.isParanoia ? 'primary' : 'secondary-light'"
          class="button--rounded"
          ion-button
          icon-only
          round
          color="primary"
        >
          <ion-icon name="md-key"></ion-icon>
        </button>

        <button
          [color]="secret.interactionSetting !== interactionSetting.UNDETERMINED ? 'primary' : 'secondary-light'"
          class="button--rounded"
          ion-button
          icon-only
          round
          color="primary"
          margin-horizontal
        >
          <ion-icon name="md-swap"></ion-icon>
        </button>

        <button
          [color]="secret.hasSocialRecovery ? 'primary' : 'secondary-light'"
          class="button--rounded"
          ion-button
          icon-only
          round
          color="secondary-light"
        >
          <ion-icon name="md-people"></ion-icon>
        </button>
      </ion-row>
    </ion-row>
  </div>
</ion-item>
