<ion-header transparent no-border>
  <ion-navbar transparent hideBackButton="isGenerating">
    <ion-title ion-text color="white">{{ isGenerating ? 'Save' : 'Edit' }} your Secret</ion-title>

    <ion-buttons end *ngIf="!isGenerating">
      <button ion-button icon-only color="dark" (click)="presentEditPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="colored-background" padding>
  <p>Give your secret a name and select the security level.</p>

  <ion-item no-padding padding-bottom>
    <ion-label color="white" floating>Secret Name</ion-label>
    <ion-input id="secret-label-input" [(ngModel)]="secret.label"></ion-input>
  </ion-item>

  <p class="font--weight__med">Security Level</p>

  <p>You can encrypt your key additionally using a passcode.</p>

  <ion-list>
    <ion-item no-lines>
      <ion-avatar item-start>
        <ion-text-avatar [color]="secret.isParanoia ? 'primary' : 'secondary-light'">
          <ion-icon md-name="fiber_pin"></ion-icon>
        </ion-text-avatar>
      </ion-avatar>
      <ion-label color="white">Passcode
        <p class="small">
          Set a passcode for your wallet.
        </p>
      </ion-label>
      <ion-checkbox [(ngModel)]="secret.isParanoia" no-margin item-right [disabled]="!secret.secretHex"></ion-checkbox>
    </ion-item>
    <!-- TODO: Add Google Two Factor Support
    <ion-item no-lines detail-push>
      <ion-avatar item-start>
        <ion-text-avatar [color]="secret.twofactor ? 'primary' : 'secondary-light'">
          <ion-icon md-name="looks_two"></ion-icon>
        </ion-text-avatar>
      </ion-avatar>
      <h2>Google two factor authentication</h2>
      <p>Use two factor code by Google.</p>
    </ion-item>
    -->
  </ion-list>

  <p class="font--weight__med">Secret Recovery</p>

  <ion-list>
    <button ion-item (click)="goToSocialRecoverySetup()" no-lines detail-push [disabled]="isGenerating">
      <ion-avatar item-start>
        <ion-text-avatar [color]="secret.hasSocialRecovery ? 'primary' : 'secondary-light'">
          <ion-icon md-name="group_work"></ion-icon>
        </ion-text-avatar>
      </ion-avatar>
      <h2>Social Recovery</h2>
      <p>Generate a number of secret shares <br> to distribute to social contacts.</p>
    </button>
  </ion-list>

  <p *ngIf="isGenerating">You can set up your secret recovery mechanisms after the initial setup.</p>

</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button default ion-button id="btn-save-secret" color="primary" *ngIf="secret.label" [disabled]="secret.label.length < 1" (click)="confirm()" round item-right>
        Confirm
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>