<ion-header transparent no-border>
  <ion-navbar transparent hideBackButton="isGenerating">
    <ion-title ion-text color="white">{{ isGenerating ? 'Save' : 'Edit' }} {{ 'secret-edit.title' | translate }}</ion-title>

    <ion-buttons end *ngIf="!isGenerating">
      <button ion-button icon-only color="dark" (click)="presentEditPopover($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="colored-background" padding>
  <p>{{ 'secret-edit.text' | translate }}</p>

  <ion-item no-padding padding-bottom>
    <ion-label color="white" floating>{{ 'secret-edit.secret_input_label' | translate }}</ion-label>
    <ion-input id="secret-label-input" [(ngModel)]="secret.label"></ion-input>
  </ion-item>

  <p class="font--weight__med">{{ 'secret-edit.security-level.heading' | translate }}</p>

  <p>{{ 'secret-edit.security-level.text' | translate }}</p>

  <ion-list>
    <ion-item no-lines>
      <ion-avatar item-start>
        <ion-text-avatar [color]="secret.isParanoia ? 'primary' : 'secondary-light'">
          <ion-icon md-name="fiber_pin"></ion-icon>
        </ion-text-avatar>
      </ion-avatar>
      <ion-label color="white">
        {{ 'secret-edit.passcode.label' | translate }}
        <p class="small">{{ 'secret-edit.passcode.text' | translate }}</p>
      </ion-label>
      <ion-checkbox [(ngModel)]="secret.isParanoia" no-margin item-right [disabled]="!secret.secretHex"></ion-checkbox>
    </ion-item>
    <!--
      TODO: Add Google Two Factor Support
      <ion-item no-lines detail-push>
        <ion-avatar item-start>
          <ion-text-avatar [color]="secret.twofactor ? 'primary' : 'secondary-light'">
            <ion-icon md-name="looks_two"></ion-icon>
          </ion-text-avatar>
        </ion-avatar>
        <h2>Google two factor authentication</h2>
        <p>Use two factor code by Google.</p>
      </ion-item>
    -->
  </ion-list>

  <p  *ngIf="secret.secretType === 1" class="font--weight__med">{{ 'secret-edit.one-time-password-generate.heading' | translate }}</p>

  <button *ngIf="secret.secretType === 1" ion-item (click)="generateOneTimePassword()" no-lines detail-push>
    <ion-avatar item-start>
      <ion-text-avatar [color]="'primary'">
        <ion-icon name="keypad"></ion-icon>
      </ion-text-avatar>
    </ion-avatar>
    <h2>{{ 'secret-edit.one-time-password-generate.label' | translate }}</h2>
    <p [innerHTML]="'secret-edit.one-time-password-generate.text' | translate"></p>
  </button>

  <p *ngIf="secret.secretType === 0" class="font--weight__med">{{ 'secret-edit.secret-recovery.heading' | translate }}</p>

  <ion-list *ngIf="secret.secretType === 0">
    <button ion-item (click)="goToSocialRecoverySetup()" no-lines detail-push [disabled]="isGenerating">
      <ion-avatar item-start>
        <ion-text-avatar [color]="secret.hasSocialRecovery ? 'primary' : 'secondary-light'">
          <ion-icon md-name="group_work"></ion-icon>
        </ion-text-avatar>
      </ion-avatar>
      <h2>{{ 'secret-edit.social-recovery.label' | translate }}</h2>
      <p [innerHTML]="'secret-edit.social-recovery.text' | translate"></p>
    </button>
  </ion-list>



  <p *ngIf="isGenerating">{{ 'secret-edit.secret-recovery.text' | translate }}</p>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button
        default
        ion-button
        id="btn-save-secret"
        color="primary"
        *ngIf="secret.label"
        [disabled]="secret.label.length < 1"
        (click)="confirm()"
        round
        item-right
      >
        {{ 'secret-edit.confirm_label' | translate }}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
