<ion-header transparent no-border>
  <ion-navbar transparent hideBackButton="isGenerating">
    <ion-title ion-text color="white">{{ isGenerating ? 'Save' : 'Edit' }} {{ 'secret-edit.title' | translate }}</ion-title>

    <ion-buttons end *ngIf="!isGenerating">
      <button ion-button icon-only color="dark" (click)="presentEditPopover($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="colored-background" padding>
  <p>{{ 'secret-edit.text' | translate }}</p>

  <ion-item no-padding padding-bottom>
    <ion-label color="white" floating>{{ 'secret-edit.secret_input_label' | translate }}</ion-label>
    <ion-input id="secret-label-input" [(ngModel)]="secret.label"></ion-input>
  </ion-item>

  <p class="font--weight__med">{{ 'secret-edit.security-level.heading' | translate }}</p>

  <p>{{ 'secret-edit.security-level.text' | translate }}</p>

  <ion-list>
    <ion-item no-lines no-padding>
      <ion-avatar item-start>
        <ion-text-avatar [color]="secret.isParanoia ? 'primary' : 'secondary-light'">
          <ion-icon name="md-key"></ion-icon>
        </ion-text-avatar>
      </ion-avatar>
      <ion-label color="white">
        {{ 'secret-edit.passcode.label' | translate }}
        <p class="small">{{ 'secret-edit.passcode.text' | translate }}</p>
      </ion-label>
      <ion-checkbox [(ngModel)]="secret.isParanoia" no-margin item-right [disabled]="!secret.secretHex"></ion-checkbox>
    </ion-item>
  </ion-list>

  <p class="font--weight__med">{{ 'secret-edit.secret-recovery.heading' | translate }}</p>

  <p *ngIf="isGenerating">{{ 'secret-edit.secret-recovery.text' | translate }}</p>

  <button ion-item (click)="goToSocialRecoverySetup()" no-lines detail-push [disabled]="isGenerating" no-padding>
    <ion-avatar item-start>
      <ion-text-avatar [color]="secret.hasSocialRecovery ? 'primary' : 'secondary-light'">
        <ion-icon name="md-people"></ion-icon>
      </ion-text-avatar>
    </ion-avatar>
    <h2>{{ 'secret-edit.social-recovery.label' | translate }}</h2>
    <p [innerHTML]="'secret-edit.social-recovery.text' | translate"></p>
  </button>

  <p class="font--weight__med">{{ 'secret-edit.interaction.label' | translate }}</p>

  <button ion-item (click)="goToWalletInteraction()" no-lines detail-push text-wrap no-padding>
    <ion-avatar item-start>
      <ion-text-avatar [color]="interactionSetting ? 'primary' : 'secondary-light'"><ion-icon name="md-swap"></ion-icon></ion-text-avatar>
    </ion-avatar>
    <p [innerHTML]="'secret-edit.interaction.text' | translate"></p>
  </button>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button
        default
        ion-button
        id="btn-save-secret"
        color="primary"
        *ngIf="secret.label"
        [disabled]="secret.label.length < 1"
        (click)="confirm()"
        round
        item-right
      >
        {{ 'secret-edit.confirm_label' | translate }}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
