<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/isolated-modules-list"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ metadata.manifest.name }}</ion-title>

    @if (mode !== undefined) {
      <ion-buttons slot="primary">
        @if (mode === IsolatedModulesDetailsMode.VIEW_INSTALLED) {
          <ion-button
            (click)="presentEditPopover($event)"
            >
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        }
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <airgap-isolated-modules-details [metadata]="metadata" (isVerified)="onIsVerified($event)"></airgap-isolated-modules-details>

  <div class="ion-padding"></div>

  @if (mode !== undefined) {
    <ion-fab
      vertical="bottom"
      horizontal="end"
      slot="fixed"
      >
      @if (mode === IsolatedModulesDetailsMode.INSTALL || mode === IsolatedModulesDetailsMode.UPDATE) {
        <ion-button
          color="primary"
          shape="round"
          [disabled]="!isVerified"
          (click)="installModule()"
          >
          {{ 'isolated-modules-details-page.button.install_label' | translate }}
        </ion-button>
      }
      @if (mode === IsolatedModulesDetailsMode.VIEW_INSTALLED) {
        <ion-button
          color="primary"
          shape="round"
          (click)="updateModule()"
          >
          {{ 'isolated-modules-details-page.button.update_label' | translate }}
        </ion-button>
      }
    </ion-fab>
  }
</ion-content>
