<ng-container>
  <ion-item [disabled]="!enabled" lines="none" [detail]="checkboxValue === undefined" class="ion-no-padding" (click)="doAction()">
    <ion-avatar slot="start">
      <div class="avatar--container" [ngClass]="active ? 'background--color__primary' : 'background--color__tertiary'">
        <ion-icon [src]="icon"></ion-icon>
      </div>
    </ion-avatar>
    <ion-label color="white" class="ion-text-wrap">
      <ng-content></ng-content>
    </ion-label>
    <ion-checkbox
      *ngIf="checkboxValue !== undefined"
      slot="end"
      class="ion-no-margin"
      [ngModel]="checkboxValue"
      [disabled]="!enabled"
      (ionChange)="doAction()"
    ></ion-checkbox>
  </ion-item>

  <p *ngIf="!enabled">This setting is disabled. Import your secret again to change it.</p>
</ng-container>
