<ion-header class="ion-no-border">
  <ion-toolbar transparent>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-create"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'secret-import.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="undo()">
        <ion-icon style="color: white;" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="secret--container-45 ion-align-items-center">
    <ion-col>
      <ion-row class="secret--container__inner ion-justify-content-center">
        <ng-container *ngFor="let word of secretWords; index as i">
          <ion-button
            style="max-width: 75px; min-width: 60px;"
            shape="round"
            size="small"
            [class.btn-blank]="i > selectedWordIndex"
            [class.btn-current]="i === selectedWordIndex"
            class="typography--mono"
            [color]="i < selectedWordIndex ? 'tertiary' : 'transparent'"
            (click)="selectWord(i)"
          >
            {{ word }}
          </ion-button>
        </ng-container>
      </ion-row>
    </ion-col>
  </ion-row>
  <hr />

  <label>Select the correct word for this position.</label>

  <ion-row class="secret--container-55 ion-align-items-center">
    <ion-col size="4" style="padding-bottom: 0; padding-top: 0;" *ngFor="let word of promptedWords">
      <ion-button
        style="height: 2em;"
        expand="block"
        shape="round"
        [color]="'tertiary'"
        class="typography--mono"
        (click)="selectWord(word)"
      >
        {{ word }}
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="goToSecretCreatePage()" [disabled]="selectedWordIndex < 24 && !isValid()">
      {{ 'secret-edit.confirm_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>

<!-- <ion-content class="ion-padding">
  <p>{{ 'secret-import.text' | translate }}</p>
  <ion-item class="ion-no-padding" [formGroup]="secretImportForm">
    <ion-textarea [autoGrow]="true" formControlName="mnemonic" placeholder="{{ 'secret-import.placeholder' | translate }}"></ion-textarea>
  </ion-item>

  <p *ngIf="secretImportForm.touched && !secretImportForm.valid" class="ion-margin-top">{{ 'secret-import.warning' | translate }}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="goToSecretCreatePage()" [disabled]="!secretImportForm.valid">
      {{ 'secret-import.import_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content> -->
