<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-create"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'secret-import.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>{{ 'secret-import.text' | translate }}</p>
  <ion-item class="ion-no-padding" [formGroup]="secretImportForm">
    <ion-textarea [autoGrow]="true" formControlName="mnemonic" placeholder="{{ 'secret-import.placeholder' | translate }}"></ion-textarea>
  </ion-item>

  <p *ngIf="secretImportForm.touched && !secretImportForm.valid" class="ion-margin-top">{{ 'secret-import.warning' | translate }}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="goToSecretCreatePage()" [disabled]="!secretImportForm.valid">
      {{ 'secret-import.import_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
