<ion-header class="ion-no-border">
  <ion-toolbar transparent>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-setup"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'secret-import.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <label class="ion-padding-horizontal">Select the correct word for this position.</label>

  <ion-row class="secret--container-45 ion-align-items-center" #secretContainer>
    <ion-col>
      <ion-row class="secret--container__inner ion-justify-content-center">
        <ng-container *ngFor="let word of secretWords; index as i">
          <ion-button
            style="min-width: 60px"
            shape="round"
            size="small"
            [class.btn-current]="i === selectedWordIndex"
            class="typography--mono"
            [color]="i === selectedWordIndex ? 'transparent' : 'tertiary'"
            (click)="selectWord(i)"
          >
            <ion-text color="medium"><span class="text--medium">{{i + 1}}</span></ion-text>
            {{ maskWords ? '***' : word }}
          </ion-button>
        </ng-container>
        <ion-button
          *ngIf="secretWords.length < 24"
          style="min-width: 60px"
          shape="round"
          size="small"
          [class.btn-blank]="selectedWordIndex !== -1"
          [class.btn-current]="selectedWordIndex === -1"
          class="typography--mono"
          [color]="'transparent'"
          (click)="selectWord(-1)"
        ></ion-button>
      </ion-row>
    </ion-col>
  </ion-row>

  <hr />

  <div *ngIf="lastWordOptions.length > 0" class="ion-padding ion-align-items-center">
    To generate a valid 24 word mnemonic, one of the following words must be your last word.
    <br />
    <ion-button
      *ngFor="let word of lastWordOptions"
      shape="round"
      size="small"
      [color]="'tertiary'"
      class="typography--mono lowercase"
      (click)="wordLastSelected(word)"
    >
      {{word}}
    </ion-button>
  </div>

  <hr *ngIf="lastWordOptions.length > 0" />

  <div class="ion-padding-horizontal">
    <airgap-mnemonic-keyboard
      [setWord]="setWordEmitter"
      [enabled]="keyboardEnabled && lastWordOptions.length <= 0"
      (wordSelected)="wordSelected($event)"
      (pasted)="paste($event)"
      (addNewWord)="addNewWord()"
      (maskInput)="mask($event)"
    ></airgap-mnemonic-keyboard>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="goToSecretSetupPage()" [disabled]="!(secretWordsValid | async)">
      {{ 'secret-edit.confirm_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
