<ion-header transparent no-border>
  <ion-navbar transparent>
    <ion-title>
      <p ion-text color="white">{{ 'transaction-signed.title' | translate }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="colored-background">
  <h3 [innerHTML]="'transaction-signed.heading' | translate"></h3>

  <ion-row justify-content-center padding-top>
    <qr-clipboard *ngIf="interactionUrl && qrType === 0" [level]="'L'" [qrdata]="interactionUrl" [size]="300"></qr-clipboard>
    <qr-clipboard *ngIf="signedTx && qrType === 1" [level]="'L'" [qrdata]="signedTx" [size]="300"></qr-clipboard>
  </ion-row>

  <ion-row padding>
    <ion-label>{{ 'transaction-signed.raw-tx_label' | translate }}</ion-label>
    <ion-toggle (ionChange)="switchQR($event)"></ion-toggle>
  </ion-row>
  <ion-row padding-bottom margin-bottom><from-to [transaction]="airGapTx" [wallet]="wallet"></from-to></ion-row>
  <ion-fab bottom right>
    <button default ion-button color="primary" (click)="done()" round>{{ 'transaction-signed.done_label' | translate }}</button>
  </ion-fab>
</ion-content>
