<ion-header no-border>
  <ion-toolbar>
    <ion-buttons *ngIf="!isGenerating" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isGenerating ? 'Save' : 'Edit' }} {{ 'secret-edit.title' | translate }}</ion-title>

    <ion-buttons slot="primary" *ngIf="!isGenerating">
      <ion-button (click)="presentEditPopover($event)"><ion-icon slot="icon-only" name="more"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>{{ 'secret-edit.text' | translate }}</p>

  <ion-item class="ion-no-padding">
    <ion-label color="white" position="floating">{{ 'secret-edit.secret_input_label' | translate }}</ion-label>
    <ion-input [(ngModel)]="secret.label"></ion-input>
  </ion-item>

  <p class="font--weight__med ion-padding-top">{{ 'secret-edit.security-level.heading' | translate }}</p>

  <p>{{ 'secret-edit.security-level.text' | translate }}</p>

  <ion-list>
    <ion-item lines="none" class="ion-no-padding">
      <ion-avatar slot="start">
        <div class="avatar--container" [ngClass]="secret.isParanoia ? 'background--color__primary' : 'background--color__tertiary'">
          <ion-icon src="assets/icons/md-fiber_pin.svg"></ion-icon>
        </div>
      </ion-avatar>
      <ion-label color="white" class="ion-text-wrap">
        <h2>{{ 'secret-edit.passcode.label' | translate }}</h2>
        <p [innerHTML]="'secret-edit.passcode.text' | translate"></p>
      </ion-label>
      <ion-checkbox slot="end" class="ion-no-margin" [(ngModel)]="secret.isParanoia" [disabled]="!secret.secretHex"></ion-checkbox>
    </ion-item>
  </ion-list>

  <p class="font--weight__med">{{ 'secret-edit.secret-recovery.heading' | translate }}</p>

  <p *ngIf="isGenerating">{{ 'secret-edit.secret-recovery.text' | translate }}</p>

  <ion-item lines="none" detail="true" class="ion-no-padding" (click)="goToSocialRecoverySetup()" [disabled]="isGenerating">
    <ion-avatar slot="start">
      <div class="avatar--container" [ngClass]="secret.hasSocialRecovery ? 'background--color__primary' : 'background--color__tertiary'">
        <ion-icon src="assets/icons/md-group_work.svg"></ion-icon>
      </div>
    </ion-avatar>
    <ion-label color="white" class="ion-text-wrap">
      <h2>{{ 'secret-edit.social-recovery.label' | translate }}</h2>
      <p [innerHTML]="'secret-edit.social-recovery.text' | translate"></p>
    </ion-label>
  </ion-item>

  <p class="font--weight__med">{{ 'secret-edit.interaction.label' | translate }}</p>

  <ion-item lines="none" detail="true" class="ion-no-padding" (click)="goToWalletInteraction()">
    <ion-avatar slot="start">
      <div class="avatar--container" [ngClass]="interactionSetting ? 'background--color__primary' : 'background--color__tertiary'">
        <ion-icon src="assets/icons/md-swap_horiz.svg"></ion-icon>
      </div>
    </ion-avatar>
    <ion-label color="white" class="ion-text-wrap">
      <p [innerHTML]="'secret-edit.interaction.text' | translate"></p>
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" [disabled]="secret.label.length < 1" (click)="confirm()">
      {{ 'secret-edit.confirm_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
