<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Edit' }} {{ 'secret-edit.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>{{ 'secret-edit.text' | translate }}</p>

  <ion-row *ngIf="(isAppAdvancedMode$ | async)" class="ion-padding-top">
    <ion-col size="3"><img class="lifehash" [src]="lifehashData" /></ion-col>
    <ion-col size="9">
      <div class="font--weight__med">{{ 'secret-edit.fingerprint' | translate }}</div>
      <div><h5>{{ secret.fingerprint }}</h5></div>
    </ion-col>
  </ion-row>

  <ion-item class="ion-no-padding">
    <ion-label color="white" position="floating">{{ 'secret-edit.secret_input_label' | translate }}</ion-label>
    <ion-input [(ngModel)]="secret.label"></ion-input>
  </ion-item>

  <p class="font--weight__med ion-padding-top">{{ 'secret-edit.security-level.heading' | translate }}</p>

  <p>{{ 'secret-edit.security-level.text' | translate }}</p>
  <airgap-secret-option-item
    [enabled]="false"
    [icon]="'assets/icons/shield-checkmark.svg'"
    [active]="secret.isParanoia"
    [checkboxValue]="secret.isParanoia"
  >
    <h2>{{ 'secret-edit.passcode.label' | translate }}</h2>
    <p [innerHTML]="'secret-edit.passcode.text' | translate"></p>
  </airgap-secret-option-item>

  <p class="font--weight__med">{{ 'secret-edit.secret-recovery.heading' | translate }}</p>
  <airgap-secret-option-item
    [enabled]="true"
    [icon]="'assets/icons/extension-puzzle.svg'"
    [active]="secret.hasSocialRecovery"
    (action)="goToSocialRecoverySetup()"
  >
    <h2>{{ 'secret-edit.social-recovery.label' | translate }}</h2>
    <p [innerHTML]="'secret-edit.social-recovery.text' | translate"></p>
  </airgap-secret-option-item>

  <ng-container *ngIf="isAndroid">
    <p class="font--weight__med">{{ 'secret-edit.secret-recovery-key.label' | translate }}</p>
    <airgap-secret-option-item [icon]="'assets/icons/md-fiber_pin.svg'" [active]="secret.hasRecoveryKey" (action)="resetRecoveryPassword()">
      <p *ngIf="secret.hasRecoveryKey" [innerHTML]="'secret-edit.secret-recovery-key.reset-text' | translate"></p>
      <p *ngIf="!secret.hasRecoveryKey" [innerHTML]="'secret-edit.secret-recovery-key.generate-text' | translate"></p>
    </airgap-secret-option-item>
  </ng-container>

  <p class="font--weight__med">{{ 'secret-edit.advanced' | translate }}</p>
  <airgap-secret-option-item [enabled]="true" [icon]="'assets/icons/md-swap_horiz.svg'" [active]="false" (action)="goToBip85ChildSeed()">
    <h2>{{ 'secret-edit.bip85.generate' | translate }}</h2>
    <p [innerHTML]="'secret-edit.bip85.text' | translate"></p>
  </airgap-secret-option-item>

  <p class="font--weight__med">{{ 'secret-edit.show-mnemonic.label' | translate }}</p>
  <airgap-secret-option-item [enabled]="true" [icon]="'assets/icons/md-fiber_pin.svg'" [active]="false" (action)="showMnemonic()">
    <p [innerHTML]="'secret-edit.show-mnemonic.text' | translate"></p>
  </airgap-secret-option-item>

  <button class="delete-button" expand="block" (click)="delete()">{{'secret-edit-delete-popover.delete_label' | translate }}</button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" [disabled]="secret.label.length < 1" (click)="confirm()">
      {{ 'secret-edit.confirm_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
