p {
  color: white;
}

ion-content {
  --padding-bottom: var(--ion-padding, 64px);
}

  .delete-button {
    width: 100%;
    background-color: white;
    font-size: 14px;
    padding: 0px;
    height: 38px;
    color: red;
    border-radius: 6px;
    margin-top: 24px;
  }
