p {
  color: white;
}

ion-content {
  --padding-bottom: var(--ion-padding, 64px);
}

.input-item {
  margin-bottom: 12px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 1;
  color: black;
  font-weight: 800;
}

.input_disabled {
  font-weight: 400;
  color: rgba(128, 128, 128, 0.793);
}

.input_enabled {
  font-weight: 400;
}

.delete-button {
  width: 100%;
  background-color: white;
  font-size: 14px;
  padding: 0px;
  height: 38px;
  color: red;
  border-radius: 6px;
  margin-top: 24px;
}

