<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-padding">
    <ion-col>
      <p>{{ description }}</p>
      <!-- <airgap-qr *ngIf="link" [qrdata]="link"></airgap-qr> -->
      <p>{{ link }}</p>
      <!-- <p>{{ 'link-page.scan-qr' | translate }}</p> -->
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" (click)="open()" shape="round">{{ 'link-page.open-link' | translate }}</ion-button>
  </ion-fab>
</ion-content>
