wallet-item {
  ion-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .sub-avatar {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 40px;
    top: 40px;
  }
}
