<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-create"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'social-recovery-import.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-padding-bottom">{{ 'social-recovery-import.text' | translate }}</p>

  <p class="font--weight__med">{{ 'social-recovery-import.share-recovery.heading' | translate }}</p>

  <ion-row class="button--rounded">
    <ion-button
      shape="round"
      *ngFor="let i of [2, 3, 4, 5, 6]"
      color="secondary-light"
      (click)="setNumberOfShares(i)"
      [color]="i === numberOfShares ? 'primary' : 'tertiary'"
    >
      {{ i }}
    </ion-button>
  </ion-row>

  <ion-list *ngIf="shares">
    <form [formGroup]="socialRecoveryForm">
      <ion-item *ngFor="let i of getNumberArray(numberOfShares)" class="ion-no-padding ion-margin-bottom">
        <ion-label color="primary" position="stacked">{{ 'social-recovery-import.share-recovery.label' | translate }} {{ i }}</ion-label>
        <ion-textarea [formControlName]="'share_' + i" placeholder="duck goose dinosaur ..." [(ngModel)]="shares[i]"></ion-textarea>
      </ion-item>
    </form>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" shape="round" (click)="recover()" [disabled]="!socialRecoveryForm.valid">
      {{ 'social-recovery-import.recover_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
