<ion-header no-border>
  <ion-toolbar [class.transparent]="!isBrowser && cameraEnabled">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-create"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [class.transparent]="!isBrowser && cameraEnabled">
  <h1>{{ 'secret-generate.heading' | translate }}</h1>

  <p>{{ 'secret-generate.text' | translate }}</p>

  <airgap-touch-entropy #touchEntropy></airgap-touch-entropy>
  <div id="entropy-description"></div>

  <p class="ion-padding-top">{{ 'secret-generate.description' | translate }}</p>

  <ion-row>
    <ion-col text-center [style.opacity]="cameraEnabled ? '1' : '0.2'">
      <ion-icon color="white" src="assets/icons/md-videocam.svg"></ion-icon>
      <airgap-entropy-progress
        id="entropy-video"
        [maxValue]="100"
        [value]="cameraService.getCollectedEntropyPercentage()"
      ></airgap-entropy-progress>
    </ion-col>
    <ion-col text-center [style.opacity]="audioEnabled ? '1' : '0.2'">
      <ion-icon color="white" src="assets/icons/md-mic.svg"></ion-icon>
      <airgap-entropy-progress
        id="entropy-audio"
        [maxValue]="100"
        [value]="audioService.getCollectedEntropyPercentage()"
      ></airgap-entropy-progress>
    </ion-col>
    <ion-col text-center [style.opacity]="gyroEnabled ? '1' : '0.2'">
      <ion-icon color="white" src="assets/icons/md-screen_rotation.svg"></ion-icon>
      <airgap-entropy-progress
        id="entropy-gyro"
        [maxValue]="100"
        [value]="gyroService.getCollectedEntropyPercentage()"
      ></airgap-entropy-progress>
    </ion-col>
    <ion-col text-center>
      <ion-icon color="white" src="assets/icons/md-touch_app.svg"></ion-icon>
      <airgap-entropy-progress
        id="entropy-touch"
        [maxValue]="100"
        [value]="touchEntropy.getCollectedEntropyPercentage()"
      ></airgap-entropy-progress>
    </ion-col>
  </ion-row>

  <video *ngIf="isBrowser" #videoElement style="width: 100%"></video>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="goToSecretRulesPage()" color="primary" shape="round" [disabled]="!entropy.isFull">
      {{ 'secret-generate.continue_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
