<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-setup"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{ 'secret-generate.heading' | translate }}</h1>

  <p>{{ 'secret-generate.text' | translate }}</p>

  <airgap-touch-entropy #touchEntropy></airgap-touch-entropy>
  <div id="entropy-description"></div>

  <p class="ion-padding-top">{{ 'secret-generate.description' | translate }}</p>

  <video *ngIf="isBrowser" #videoElement style="width: 100%"></video>

  <ion-row>
    <ion-col class="ion-text-center" [style.opacity]="cameraEnabled ? '1' : '0.2'">
      <ion-icon color="white" src="assets/icons/md-videocam.svg"></ion-icon>
    </ion-col>
    <ion-col class="ion-text-center" [style.opacity]="audioEnabled ? '1' : '0.2'">
      <ion-icon color="white" src="assets/icons/md-mic.svg"></ion-icon>
    </ion-col>
    <ion-col class="ion-text-center" [style.opacity]="gyroEnabled ? '1' : '0.2'">
      <ion-icon color="white" src="assets/icons/md-screen_rotation.svg"></ion-icon>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon color="white" src="assets/icons/md-touch_app.svg"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="percentageValue < 0.33 " class="ion-padding-top">
    <ion-progress-bar color="danger" [value]="percentageValue"></ion-progress-bar>
    <ion-col>
      <ion-text color="danger">
        <h3>low entropy</h3>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="percentageValue >= 0.33 && percentageValue < 0.66" class="ion-padding-top">
    <ion-progress-bar color="warning" [value]="percentageValue"></ion-progress-bar>
    <ion-col>
      <ion-text color="warning">
        <h3>medium entropy</h3>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="percentageValue >= 0.66 " class="ion-padding-top">
    <ion-progress-bar color="success" [value]="percentageValue"></ion-progress-bar>
    <ion-col>
      <ion-text color="success">
        <h3>high entropy</h3>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="goToSecretRulesPage()" [disabled]="percentageValue < 0.66" color="primary" shape="round">
      {{ 'secret-generate.continue_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
