<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-setup"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{ 'secret-generate.heading' | translate }}</h1>

  <p>{{ 'secret-generate.text' | translate }}</p>

  <airgap-touch-entropy #touchEntropy></airgap-touch-entropy>
  <div id="entropy-description"></div>

  <p class="ion-padding-top">{{ 'secret-generate.description' | translate }}</p>

  <ion-row>
    <ion-col class="ion-text-center" [style.opacity]="cameraEnabled ? '1' : '0.2'">
      <ion-icon aria-hidden="true" color="white" src="assets/icons/md-videocam.svg"></ion-icon>
      <airgap-entropy-progress
        id="entropy-video"
        [label]="'secret-generate.sources.camera' | translate"
        [maxValue]="100"
        [value]="cameraService.getCollectedEntropyPercentage()"
      ></airgap-entropy-progress>
    </ion-col>
    <ion-col class="ion-text-center" [style.opacity]="audioEnabled ? '1' : '0.2'">
      <ion-icon aria-hidden="true" color="white" src="assets/icons/md-mic.svg"></ion-icon>
      <airgap-entropy-progress
        id="entropy-audio"
        [label]="'secret-generate.sources.microphone' | translate"
        [maxValue]="100"
        [value]="audioService.getCollectedEntropyPercentage()"
      ></airgap-entropy-progress>
    </ion-col>
    <ion-col class="ion-text-center" [style.opacity]="gyroEnabled ? '1' : '0.2'">
      <ion-icon aria-hidden="true" color="white" src="assets/icons/md-screen_rotation.svg"></ion-icon>
      <airgap-entropy-progress
        id="entropy-gyro"
        [label]="'secret-generate.sources.motion' | translate"
        [maxValue]="100"
        [value]="gyroService.getCollectedEntropyPercentage()"
      ></airgap-entropy-progress>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon aria-hidden="true" color="white" src="assets/icons/md-touch_app.svg"></ion-icon>
      <airgap-entropy-progress
        id="entropy-touch"
        [label]="'secret-generate.sources.touch' | translate"
        [maxValue]="100"
        [value]="touchEntropy.getCollectedEntropyPercentage()"
      ></airgap-entropy-progress>
    </ion-col>
  </ion-row>

  <p *ngIf="entropySourceError" role="alert">
    {{ 'secret-generate.no-source_error' | translate }}
  </p>
  <output *ngIf="entropy.isFull" aria-live="polite">
    {{ 'secret-generate.ready_status' | translate }}
  </output>

  <video *ngIf="isBrowser" #videoElement style="width: 100%"></video>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="goToSecretRulesPage()" color="primary" shape="round" [disabled]="!entropy.isFull">
      {{ 'secret-generate.continue_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
