<ion-row class="secret--container-60" align-items-center>
  <ion-row justify-content-center class="secret--container__inner">
    <span *ngFor="let word of splittedSecret; index as i" [class.xtra-small]="splittedSecret.length > 10">
      <button
        *ngIf="currentWords[i]"
        (click)="selectWord(i)"
        [color]="selectedWord === i ? 'primary' : 'secondary-light'"
        ion-button
        round
        small
      >
        {{ currentWords[i].word }}
      </button>
      <button
        *ngIf="!currentWords[i]"
        (click)="selectEmptySpot()"
        class="word-placeholder"
        ion-button
        round
        [color]="i === emptySpot(currentWords) ? 'primary' : 'secondary-light'"
        outline
        small
      >
        {{ i + 1 }}
      </button>
    </span>
  </ion-row>
</ion-row>
<hr />
<ion-row class="secret--container-40" align-items-center>
  <ion-col *ngIf="!isCompleted && !isCorrect() && promptedWords.length === 0" id="error" padding-top padding-horizontal>
    <p [innerHTML]="'verify-key.incorrect_text' | translate"></p>
  </ion-col>

  <ion-col *ngIf="isCompleted && isCorrect() && promptedWords.length === 0" id="message" padding-top padding-horizontal>
    <p padding-bottom>{{ 'verify-key.success_text' | translate }}</p>
    <button (click)="continue()" color="primary" ion-button block round>{{ 'verify-key.continue_label' | translate }}</button>
  </ion-col>

  <ion-col *ngIf="promptedWords.length > 0" id="wordSelector" padding-top>
    <ion-row *ngFor="let word of promptedWords" padding-horizontal>
      <ion-col>
        <button
          (click)="useWord(word)"
          class="button-secret"
          [color]="isSelectedWord(word) ? 'primary' : 'secondary-light'"
          ion-button
          block
          round
        >
          {{ word.word }}
        </button>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
