<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'bip85-show.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-padding-bottom">{{ 'bip85-show.text' | translate }}</p>
  <p _ngcontent-luc-c184="" class="font--weight__med">{{ 'bip85-show.mnemonic-length' | translate }}</p>
  <h3>{{mnemonicLength}}</h3>
  <p _ngcontent-luc-c184="" class="font--weight__med">{{ 'bip85-show.index' | translate }}</p>
  <h3>{{index}}</h3>
  <h6 class="typography--mono">{{ childMnemonic }}</h6>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="primary" (click)="goToValidateSecret()">{{ 'bip85-show.validate' | translate }}</ion-button>
  </ion-fab>
</ion-content>
