<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'bip85-show.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-padding-bottom">{{ 'bip85-show.text' | translate }}</p>
  <p class="font--weight__med">{{ 'bip85-show.mnemonic-length' | translate }}</p>
  <h3>{{mnemonicLength}}</h3>
  <p class="font--weight__med">{{ 'bip85-show.index' | translate }}</p>
  <h3>{{index}}</h3>

  <ion-row *ngIf="(isAdvancedMode$ | async)">
    <ion-col size="3"><img class="lifehash" [src]="lifehashData" /></ion-col>
    <ion-col size="9">
      <div class="font--weight__med">{{ 'bip85-show.fingerprint' | translate }}</div>
      <div><h5>{{ childFingerprint}}</h5></div>
    </ion-col>
  </ion-row>

  <h6 [id]="isBlurred ? 'blur' : ''" class="typography--mono">{{ isBlurred ? blurText : childMnemonic }}</h6>

  <ion-button (click)="changeBlur()">{{ isBlurred ? 'Show Recovery Phrase' : 'Hide Recovery Phrase'}}</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button shape="round" color="primary" (click)="goToSecretSetupPage()">{{ 'bip85-show.add' | translate }}</ion-button>
  </ion-fab>
</ion-content>
