<ion-content class="ion-padding">
  <swiper-container #slides [modules]="swiperModules">
    <swiper-slide>
      <ion-row class="ion-padding-vertical ion-text-left">
        <h1 [innerHTML]="'distribution-onboarding.ask-permission.heading' | translate"></h1>

        <p>{{ 'distribution-onboarding.ask-permission.text' | translate }}</p>
      </ion-row>

      <ion-footer class="ion-no-border">
        <ion-toolbar class="ion-padding" transparent>
          <ion-row class="ion-justify-content-end">
            <ion-button color="primary" shape="round" (click)="next()">{{ 'next' | translate }}</ion-button>
          </ion-row>
        </ion-toolbar>
      </ion-footer>
    </swiper-slide>
    <swiper-slide>
      <ion-row class="ion-padding-vertical ion-text-left">
        <h1 [innerHTML]="'distribution-onboarding.no-vm.heading' | translate"></h1>

        <p>{{ 'distribution-onboarding.no-vm.text' | translate }}</p>
      </ion-row>

      <ion-footer class="ion-no-border">
        <ion-toolbar class="ion-padding" transparent>
          <ion-row class="ion-justify-content-end">
            <ion-button color="primary" shape="round" (click)="accept()">
              {{ 'distribution-onboarding.understood_label' | translate }}
            </ion-button>
          </ion-row>
        </ion-toolbar>
      </ion-footer>
    </swiper-slide>
  </swiper-container>
</ion-content>
