<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-accounts"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'wallet-select-coins.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <airgap-current-secret></airgap-current-secret>

  <ion-list lines="none">
    <ion-radio-group [ngModel]="selectedProtocol" (ngModelChange)="onSelectedProtocolChange($event)">
      <ion-list-header class="ion-no-padding">
        <ion-label class="font--weight__med white">{{ 'wallet-select-coins.text' | translate }}</ion-label>
      </ion-list-header>
      <ion-item detail="false" class="ion-no-padding" *ngFor="let protocol of protocols">
        <ion-avatar slot="start" class="ion-align-items-center">
          <airgap-currency-symbol [symbol]="protocol.getSymbol() | async" [protocolIdentifier]="protocol.identifier"></airgap-currency-symbol>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2>
            <span class="font--weight__med">{{ protocol.getName() | async }}</span>
            {{ protocol.symbol }}
          </h2>
        </ion-label>
        <ion-radio [id]="protocol.getIdentifier() | async" [value]="protocol" slot="end"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list lines="none" class="ion-padding-vertical ion-margin-bottom">
    <ion-item class="ion-no-padding">
      <ion-label class="font--weight__med">{{ 'wallet-select-coins.advanced_label' | translate }}</ion-label>
      <ion-toggle color="primary" slot="end" [(ngModel)]="isAdvancedMode"></ion-toggle>
    </ion-item>

    <ng-container *ngIf="isAdvancedMode">
      <ion-item class="ion-no-padding" *ngIf="isAdvancedMode" lines="full">
        <ion-label position="stacked" color="primary">{{ 'wallet-select-coins.custom-path.label' | translate }}</ion-label>
        <ion-input
          [(ngModel)]="customDerivationPath"
          placeholder="{{ 'wallet-select-coins.custom-path.placeholder' | translate }}"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="(selectedProtocol.getIdentifier() | async) === 'eth' && selectedProtocol.getSupportsHD() | async" class="ion-no-padding">
        {{ 'wallet-select-coins.select-type.hd-wallet_label' | translate }}
        <ion-checkbox [(ngModel)]="isHDWallet" (ionChange)="setDerivationPath()" slot="end"></ion-checkbox>
      </ion-item>

      <ng-container *ngIf="isBip39PassphraseEnabled">
        <ion-item class="ion-no-padding" *ngIf="isBip39PassphraseEnabled" lines="full">
          <ion-label position="stacked" color="primary">BIP-39 Passphrase</ion-label>
          <ion-input
            [type]="revealBip39Passphrase ? 'text' : 'password'"
            [(ngModel)]="bip39Passphrase"
            placeholder="BIP-39 Passphrase"
          ></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding ion-margin-bottom">
          Reveal Passphrase
          <ion-checkbox [(ngModel)]="revealBip39Passphrase" slot="end"></ion-checkbox>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button [disabled]="!selectedProtocol" color="primary" shape="round" (click)="addWallet()">
      {{ 'wallet-select-coins.create_label' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>
