<ion-header transparent no-border>
  <ion-navbar transparent>
    <ion-title>
      <p ion-text color="white">{{ 'wallet-select-coins.title' | translate }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="colored-background">
  <!-- Current Secret -->
  <current-secret></current-secret>

  <ion-list radio-group [ngModel]="selectedProtocol" (ngModelChange)="onSelectedProtocolChange($event)" no-lines>
    <ion-list-header no-padding no-margin no-lines>
      <ion-label color="white" class="font--weight__med">{{ 'wallet-select-coins.text' | translate }}</ion-label>
    </ion-list-header>
    <ion-item no-padding *ngFor="let protocol of coinProtocols" no-padding>
      <ion-avatar item-start><img [src]="'assets/symbols/' + protocol.symbol.toLowerCase() + '.svg'" /></ion-avatar>
      <ion-label color="white">{{ protocol.name }}</ion-label>
      <ion-radio [id]="protocol.identifier" [value]="protocol" no-margin item-right></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list no-lines padding-top>
    <ion-item id="wallet-type-selector" no-padding *ngIf="selectedProtocol && selectedProtocol.supportsHD">
      <ion-label class="font--weight__med" color="white">{{ 'wallet-select-coins.select-type.label' | translate }}</ion-label>
      <ion-select [(ngModel)]="isHDWallet" (ngModelChange)="onIsHDWalletChange($event)" color="white">
        <ion-option [value]="false">{{ 'wallet-select-coins.select-type.single-address_label' | translate }}</ion-option>
        <ion-option [value]="true" selected>{{ 'wallet-select-coins.select-type.hd-wallet_label' | translate }}</ion-option>
      </ion-select>
    </ion-item>

    <!-- TODO: trigger advanced setting > custom derivation input -->
    <ion-item no-padding>
      <ion-label class="font--weight__med" color="white">{{ 'wallet-select-coins.advanced_label' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="isAdvancedMode"></ion-toggle>
    </ion-item>

    <ion-item no-padding padding-bottom *ngIf="isAdvancedMode">
      <ion-label stacked color="primary">{{ 'wallet-select-coins.custom-path.label' | translate }}</ion-label>
      <ion-input
        [(ngModel)]="customDerivationPath"
        placeholder="{{'wallet-select-coins.custom-path.placeholder'|translate}}"
        color="white"
      ></ion-input>
    </ion-item>

    <!--
      TODO: all supported wallet types with corresponding derivation path
      <ion-item no-padding >
        <ion-label class="font--weight__med" color="white">Imported Wallet from ...</ion-label>
        <ion-select color="white">
          <ion-option value="f">Trezor</ion-option>
          <ion-option value="m">Jaxx</ion-option>
        </ion-select>
      </ion-item>
    -->
  </ion-list>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button id="btn-add-coins" [disabled]="!selectedProtocol" default ion-button color="primary" round item-right (click)="addWallet()">
        {{ 'wallet-select-coins.create_label' | translate }}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
