<ion-header transparent no-border><ion-toolbar transparent></ion-toolbar></ion-header>

<ion-content class="colored-background" padding>
  <h1 [innerHTML]="'local-authentication-onboarding.heading' | translate"></h1>

  <ion-row justify-content-center padding-vertical><img src="assets/img/local_authentication_onboarding.svg" padding-vertical /></ion-row>

  <p>{{ 'local-authentication-onboarding.text' | translate }}</p>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <ion-button default color="primary" shape="round" item-right (click)="authenticate()">
        {{ 'local-authentication-onboarding.authenticate_label' | translate }}
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
