<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/secret-edit"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-wrapper">
    <div class="center-wrapper">
      <div class="states-wrapper">
        @for (share of shares; track share; let i = $index) {
          <ion-button
            class="state"
            [class.selected]="(i === currentShare && currentShare < shares.length - 1) || (currentShare === shares.length -1 && i === currentShare - 1)"
            shape="round"
            [color]="i === currentShare ? 'primary' : 'tertiary'"
            >
            {{i}}
          </ion-button>
        }
      </div>
      <h2>Tap each word to match the correct order</h2>
      @if (shares) {
        <airgap-verify-key-alt
          #verify
          [secret]="shares[currentShare]"
          (onComplete)="onComplete($event)"
          (onNext)="onNext()"
        ></airgap-verify-key-alt>
      }
    </div>

    <div class="buttons-wrapper">
      <ion-button color="light" fill="clear" (click)="prev()">{{ 'social-recovery-setup.back_label' | translate }}</ion-button>
      <ion-button color="light" fill="clear" fill="clear" (click)="next()" [disabled]="!validated">
        {{ 'social-recovery-setup.next_label' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
