<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-generate-dice-roll.label' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Generating entropy with dice rolls is an advanced feature. It allows you to provide your own entropy and generate a verifiable recovery
    phrase. Only use this feature if you know how to use it!
  </p>

  <airgap-grid-input
    #inputgrid
    [minLength]="minLength"
    [gridWidth]="10"
    [defaultHeight]="10"
    (rowAddedEvent)="scrollToBottom()"
    (entropyChanged)="updateEntropy($event)"
  ></airgap-grid-input>
</ion-content>

<ion-footer>
  <ion-toolbar>
    {{ inputgrid.entropy.length }} of at least 99 rolls ({{entropyBits | number:'1.0-1'}} bits of entropy)
    <br />
    <ion-button (click)="inputgrid.add('1')">1</ion-button>
    <ion-button (click)="inputgrid.add('2')">2</ion-button>
    <ion-button (click)="inputgrid.add('3')">3</ion-button>
    <ion-button [disabled]="inputgrid.entropy.length === 0" style="float: right;" (click)="inputgrid.remove()">Remove</ion-button>
    <br />
    <ion-button (click)="inputgrid.add('4')">4</ion-button>
    <ion-button (click)="inputgrid.add('5')">5</ion-button>
    <ion-button (click)="inputgrid.add('6')">6</ion-button>
    <ion-button style="float: right;" [disabled]="!this.isValid" (click)="next()">Next</ion-button>
  </ion-toolbar>
</ion-footer>
