<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-generate-dice-roll.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <!--TDO: use popover for input type with entries default & coldcard -->
      <ion-icon slot="icon-only" name="options-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <p class="ion-padding-bottom">
    {{ 'secret-generate-dice-roll.description' | translate }}
  </p>

  <airgap-grid-input
    #inputgrid
    [minLength]="minLength"
    [gridWidth]="10"
    [defaultHeight]="10"
    (rowAddedEvent)="scrollToBottom()"
    (entropyChanged)="updateEntropy($event)"
  ></airgap-grid-input>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-padding">
      <ion-col size="12">
        {{ 'secret-generate-dice-roll.status' | translate: { inputLength: inputgrid.entropy.length, entropyBits: (entropyBits |
        number:'1.0-1') } }}
      </ion-col>

      <ion-col size="12">
        <ion-row class="button--rounded ion-justify-content-between">
          <div>
            <ion-button shape="round" (click)="inputgrid.add('1')">1</ion-button>
            <ion-button shape="round" (click)="inputgrid.add('2')">2</ion-button>
            <ion-button shape="round" (click)="inputgrid.add('3')">3</ion-button>
            <ion-button shape="round" (click)="inputgrid.add('4')">4</ion-button>
            <ion-button shape="round" (click)="inputgrid.add('5')">5</ion-button>
            <ion-button shape="round" (click)="inputgrid.add('6')">6</ion-button>
          </div>

          <div>
            <ion-button color="tertiary" [disabled]="inputgrid.entropy.length === 0" (click)="inputgrid.remove()">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button color="tertiary" [disabled]="!this.isValid" (click)="next()">
              <ion-icon name="chevron-forward-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-row>
        <ion-row></ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
