<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-settings"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'secret-generate-dice-roll.label' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    {{ 'secret-generate-dice-roll.description' | translate }}
  </p>

  <airgap-grid-input
    #inputgrid
    [minLength]="minLength"
    [gridWidth]="10"
    [defaultHeight]="10"
    (rowAddedEvent)="scrollToBottom()"
    (entropyChanged)="updateEntropy($event)"
  ></airgap-grid-input>
</ion-content>

<ion-footer>
  <ion-toolbar>
    {{ 'secret-generate-dice-roll.status' | translate: { inputLength: inputgrid.entropy.length, entropyBits: (entropyBits | number:'1.0-1')
    } }}
    <br />
    <ion-button (click)="inputgrid.add('1')">1</ion-button>
    <ion-button (click)="inputgrid.add('2')">2</ion-button>
    <ion-button (click)="inputgrid.add('3')">3</ion-button>
    <ion-button [disabled]="inputgrid.entropy.length === 0" style="float: right;" (click)="inputgrid.remove()">
      {{ 'secret-generate-dice-roll.remove_label' | translate }}
    </ion-button>
    <br />
    <ion-button (click)="inputgrid.add('4')">4</ion-button>
    <ion-button (click)="inputgrid.add('5')">5</ion-button>
    <ion-button (click)="inputgrid.add('6')">6</ion-button>
    <ion-button style="float: right;" [disabled]="!this.isValid" (click)="next()">
      {{ 'secret-generate-dice-roll.next_label' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
