<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-back-button defaultHref="/social-recovery-import-share-name"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="help()">
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Social Recovery Import</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- TODO Tim -->

  <div class="content-wrapper">
    <div class="center-wrapper">
      <div class="states-wrapper">
        <ion-button
          class="state"
          [class.selected]="(i === currentShare && currentShare < shares - 1) || (currentShare === shares -1 && i === currentShare - 1)"
          shape="round"
          *ngFor="let item of [].constructor(shares); let i = index"
          [color]="i === currentShare ? 'primary' : 'tertiary'"
        >
          {{i}}
        </ion-button>
      </div>
      <h2>Enter the terms of {{shareName}}</h2>
      <!-- <div class="tags-wrapper">
        <ion-button class="tag" shape="round" color="tertiary" *ngFor="let tag of currentShares; let i = index">
          <p class="number">{{i + 1}}</p>
          <p class="text">{{tag}}</p>
        </ion-button>
      </div> -->
    </div>
    <!-- <div class="buttons-wrapper">
      <ion-button color="light" fill="clear" (click)="prev()">{{ 'social-recovery-setup.back_label' | translate }}</ion-button>
      <ion-button color="light" fill="clear" fill="clear" (click)="next()">{{ 'social-recovery-setup.next_label' | translate }}</ion-button>
    </div> -->
  </div>
</ion-content>
