<ion-header transparent no-border>
  <ion-navbar transparent>
    <ion-title>
      <p ion-text color="white">Confirm Transaction</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="colored-background">

  <div *ngIf="transaction && wallet">
    <p>You are about to send:</p>

    <from-to [transaction]="transaction" [wallet]="wallet"></from-to>

    <ion-list margin-top>
      <ion-item no-lines *ngFor="let parameter of transaction.information">
        <h2>{{parameter.label}}</h2>
        <h3>{{parameter.value}}</h3>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <button default ion-button color="primary" (click)="goToTransactionOnboardingPage()" round item-right icon-left>
        <ion-icon md-name="check"></ion-icon>
        Sign Transaction
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>